.dashboard_page .dashboard_banner {
    background-color: #ffffff;
}
.dashboard_page .dashboard_banner .dashboard_topbar {
    padding: 17px 30px 18px;
}
.dashboard_page .dashboard_topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(153, 153, 153, 0.15);
}
.dashboard_page .dashboard_topbar_left,
.dashboard_page .dashboard_topbar_right {
    display: flex;
    align-items: center;
}
.dashboard_page .dashboard_topbar_left {
    gap: 17px;
}
.dashboard_page .dashboard_topbar_left .search_bar {
    max-width: 650px;
}
.dashboard_page .dashboard_topbar_left .search_bar .searchbar {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #f4f4f4 !important;
    width: 100%;
    max-height: 45px;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: none;
}
.dashboard_page .dashboard_topbar_left .search_bar .searchbar input {
    padding: 12px 45px 12px 40px;
    width: 650px;
    color: #999999;
}
.dashboard_page
    .dashboard_topbar_left
    .search_bar
    .searchbar
    input::placeholder {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #999999;
}
.dashboard_page
    .dashboard_topbar_left
    .search_bar
    .searchbar
    .searchbar-icon::after {
    color: #999999 !important;
}
.dashboard_page
    .dashboard_topbar_left
    .search_bar
    .searchbar
    .input-clear-button {
    width: 45px;
    height: 45px;
    color: #999999;
}
.dashboard_page .dashboard_topbar_right {
    gap: 25px;
}
.dashboard_page .dashboard_topbar_right .dashboard_notification {
    color: #38373d;
}
.dashboard_page .dashboard_notification .dashboard_profile_image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.dashboard_page .dashboard_topbar_right .dashboard_profile_detail {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 25px;
    position: relative;
}
.dashboard_page .dashboard_profile_detail .dashboard_profile_name h4 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #555555;
}
.dashboard_page .dashboard_profile_detail .dashboard_profile_name::before {
    content: "";
    width: 6px;
    height: 6px;
    border: none;
    border-top: 0.4px solid #555555;
    border-right: 0.4px solid #555555;
    transform: rotate(135deg);
    position: absolute;
    top: calc(50% - 3px);
    right: 4px;
    translate: 0 -50%;
}
.dashboard_page .dashboard_banner .dashboard_navbar {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.15);
}
.dashboard_page .dashboard_navbar .tabbar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 30px;
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    background: none;
}
.dashboard_page .dashboard_navbar .tabbar .tab-link {
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    width: auto;
    gap: 7px;
    color: #555555;
}
.dashboard_page .dashboard_navbar .tabbar .dropdown h3 {
    padding-right: 22px;
    position: relative;
}
.dashboard_page .dashboard_navbar .tabbar .dropdown h3::before {
    content: "";
    width: 6px;
    height: 6px;
    border: none;
    border-top: 0.4px solid #555555;
    border-right: 0.4px solid #555555;
    transform: rotate(135deg);
    position: absolute;
    top: calc(50% - 3px);
    right: 4px;
    translate: 0 -50%;
}
.dashboard_page .dashboard_navbar .tabbar .tab-link-active,
.dashboard_page .dashboard_navbar .tabbar .tab-link-active h3 {
    color: #f33e3e !important;
}
.dashboard_page .dashboard_navbar .tabbar .tab-link h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #555555;
    text-transform: capitalize;
    text-wrap: nowrap;
}
.dashboard_page .tabs .dashboard_tab {
    padding: 25px 30px;
    background-color: #fbfbfb;
}
.dashboard_page .tabs .dashboard_tab .dashboard_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.dashboard_page .tabs .dashboard_tab .dashboard_header h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #38373d;
    text-transform: capitalize;
}
.dashboard_page .tabs .dashboard_tab .dashboard_header .f7-link {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
}
.dashboard_page .tabs .dashboard_tab .dashboard_header .f7-link-active {
    font-weight: 400 !important;
    color: #38373d !important;
}
.dashboard_page .tabs .dashboard_tab .dashboard_welcome_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.dashboard_page .tabs .dashboard_tab .dashboard_welcome_section .greeting_user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.dashboard_page
    .tabs
    .dashboard_tab
    .dashboard_welcome_section
    .greeting_user
    h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #38373d;
}
.dashboard_page
    .tabs
    .dashboard_tab
    .dashboard_welcome_section
    .greeting_user
    h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
}
.dashboard_page .tabs .dashboard_tab .dashboard_welcome_section .add_product {
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    color: #ffffff;
    width: auto;
    border: none;
    background-color: #f33e3e;
    box-shadow: 2.5px -2.5px 2px 0px #863e2026 inset;
    box-shadow: 1px 1px 4px 0px #8f716459;
    border-radius: 5px !important;
}
.dashboard_page
    .tabs
    .dashboard_tab
    .dashboard_welcome_section
    .add_product
    h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card{
    display: grid;
    grid-template-columns: calc((100% / 4) - 24px) calc((100% / 4) - 24px) calc((100% / 4) - 24px) calc((100% / 4) - 24px);
    gap: 32px;
    margin-bottom: 40px;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_card_item{
    padding: 25px 0 17px 30px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
    position: relative;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_card_item h2{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #38373D;
    margin-bottom: 10px !important;
    position: relative;
    z-index: 1;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_card_item h1{
    font-size: 60px;
    line-height: 73px;
    font-weight: 600;
    color: #FDD5D5;
    position: relative;
    z-index: 1;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_card_item:after{
    content: '';
    position: absolute;
    width: 7px;
    height: 170px;
    background-color: #F33E3E;
    top: 0;
    left: 0;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_card_item .bottom-image{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_customer .bottom-image{
    position: absolute;
    bottom: -10px;
    right: 0;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_card_item .dash_back-image{
    position: absolute;
    opacity: 30%;
    z-index: 0;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_total_orders .dash_back-image{
    top: -10px;
    right: -10%;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_completed_orders .dash_back-image{
    top: -30px;
    right: -5%;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_pending_orders .dash_back-image{
    right: 0;
    bottom: -20%;
}
.dashboard_page .tabs .dashboard_tab .dashboard_card .dashboard_customer .dash_back-image{
    top: 20%;
    right: 0;
}
.dashboard_page .tabs .dashboard_tab .orders-category_tables{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}
.dashboard_page .tabs .dashboard_tab .orders-category_tables .latest_orders_table{
    max-width: 840px;
    width: 100%;
}
.dashboard_page .tabs .dashboard_tab .table_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dashboard_page .tabs .dashboard_tab .table_header h3{
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #38373D;
    text-transform: capitalize;
}
.dashboard_page .tabs .dashboard_tab .table_header h5{
    padding-right: 27px;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #F33E3E;
    text-transform: capitalize;
}
.dashboard_page .tabs .dashboard_tab .table_header h5:before{
    content: '';
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 12px;
    border: none;
    border-top: 0.4px solid #F33E3E;
    border-right: 0.4px solid #F33E3E;
    translate: 0 -50%;
}
.dashboard_page .tabs .dashboard_tab table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 1px 15px 0px #3333330D;
    border-radius: 10px;
}
.dashboard_page .tabs .dashboard_tab table thead{
    border-bottom: 1px solid rgba(153, 153, 153, 0.25);
    background-color: #F4F4F4;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.dashboard_page .tabs .dashboard_tab table tr{
    font-size: 15px;
    line-height: 18px;
}
.dashboard_page .tabs .dashboard_tab table tbody tr:not(:last-child){
    border-bottom: 1px solid rgba(153, 153, 153, 0.15);
}
.dashboard_page .tabs .dashboard_tab table thead th{
    font-weight: 600 !important;
    color: #555555 !important;
    padding: 17px 10px;
}
.dashboard_page .tabs .dashboard_tab table tbody td{
    font-weight: 400 !important;
    color: #38373D !important;
}
.dashboard_page .tabs .dashboard_tab .latest_orders_table table thead th{
    text-align: left;
}
.dashboard_page .tabs .dashboard_tab .latest_orders_table table tbody td{
    padding: 15px 10px;
    text-align: left;
}
.dashboard_page .tabs .dashboard_tab .latest_orders_table table tbody .customer_img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.dashboard_page .tabs .dashboard_tab .latest_orders_table tbody tr td:nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard_page .tabs .dashboard_tab table thead tr th:first-child,
.dashboard_page .tabs .dashboard_tab table tbody tr td:first-child{
    padding-left: 20px;
}
.dashboard_page .tabs .dashboard_tab table thead tr th:last-child,
.dashboard_page .tabs .dashboard_tab table tbody tr td:last-child{
    padding-right: 20px;
}
.dashboard_page .tabs .dashboard_tab .latest_orders_table thead tr th:last-child,
.dashboard_page .tabs .dashboard_tab .latest_orders_table tbody tr td:last-child{
    text-align: center;
}
.dashboard_page .tabs .dashboard_tab .latest_orders_table .status_indicator{
    max-width: 100px;
    max-height: 26px;
    border-radius: 5px;
}
.dashboard_page .tabs .dashboard_tab .latest_orders_table .status_indicator p{
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}
.dashboard_page .tabs .dashboard_tab .latest_orders_table .status_indicator .cancelled_order{
    padding: 5px 21px;
    color: #AE4444;
    border-radius: 5px;
    background-color: #FFE9E9;
}
.dashboard_page .tabs .dashboard_tab .latest_orders_table .status_indicator .processing_order{
    padding: 5px 18px;
    color: #9B804B;
    border-radius: 5px;
    background-color: #FFF9E3;
}

.dashboard_page .tabs .dashboard_tab .latest_category_table{
    max-width: 500px;
    width: 100%;;
}
.dashboard_page .tabs .dashboard_tab .latest_category_table table thead th{
    text-align: left;
}
.dashboard_page .tabs .dashboard_tab .latest_category_table table tbody td{
    padding: 12px 10px;
    text-align: left;
}
.dashboard_page .tabs .dashboard_tab .latest_category_table table tbody .category_image{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.dashboard_page .tabs .dashboard_tab .latest_category_table tbody tr td:nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard_page .tabs .dashboard_tab .latest_category_table thead tr th:last-child,
.dashboard_page .tabs .dashboard_tab .latest_category_table tbody tr td:last-child{
    text-align: right;
}
.dashboard_page .tabs .dashboard_tab .customer-info_pending-order_table{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}
.dashboard_page .tabs .dashboard_tab .customer-info_pending-order_table .latest_customer_info{
    max-width: 577px;
    width: 100% !important;
}
.dashboard_page .tabs .dashboard_tab .latest_customer_info .customer_card_holder{
    padding: 43px 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 39px;
    row-gap: 60px;
    box-shadow: 0px 1px 15px 0px #3333330D;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.dashboard_page .tabs .dashboard_tab .customer_card_holder .customer_card{

}
.dashboard_page .tabs .dashboard_tab .customer-info_pending-order_table .pending_order_table{
    max-width: 577px;
    width: 100% !important;
}