.dashboard_page{
    background-color: #ffffff;
}
.dashboard_page {
    padding: 25px 30px;
    background-color: #fbfbfb;
}
.dashboard_page .dashboard_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.dashboard_page .dashboard_header h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #38373d;
    text-transform: capitalize;
}
/* .dashboard_page .dashboard_header .f7-link {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #555555;
}
.dashboard_page .dashboard_header .f7-link-active {
    font-weight: 500 !important;
    color: #38373d !important;
} */
.dashboard_page .dashboard_welcome_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.dashboard_page .dashboard_welcome_section .greeting_user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.dashboard_page .dashboard_welcome_section .greeting_user h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #38373d;
}
.dashboard_page .dashboard_welcome_section .greeting_user h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
}
.dashboard_page .dashboard_welcome_section .add_product {
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    color: #ffffff;
    width: auto;
    border: none;
    background-color: #f33e3e;
    box-shadow: 2.5px -2.5px 2px 0px #863e2026 inset;
    box-shadow: 1px 1px 4px 0px #8f716459;
    border-radius: 5px !important;
}
.dashboard_page .dashboard_welcome_section .add_product h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
}
.dashboard_page .dashboard_card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 32px;
    margin-bottom: 40px;
}
.dashboard_page .dashboard_card .dashboard_card_item {
    padding: 25px 0 17px 30px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
}
.dashboard_page .dashboard_card .dashboard_card_item h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #38373d;
    margin-bottom: 10px !important;
    position: relative;
    z-index: 1;
}
.dashboard_page .dashboard_card .dashboard_card_item h1 {
    font-size: 42px;
    line-height: 73px;
    font-weight: 600;
    color: #fdd5d5;
    position: relative;
    z-index: 1;
}
.dashboard_page .dashboard_card .dashboard_card_item:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 170px;
    background-color: #f33e3e;
    top: 0;
    left: 0;
}
.dashboard_page .dashboard_card .dashboard_card_item .bottom-image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.dashboard_page .dashboard_card .dashboard_customer .bottom-image {
    position: absolute;
    bottom: -10px;
    right: 0;
}
.dashboard_page .dashboard_card .dashboard_card_item .dash_back-image {
    position: absolute;
    z-index: 0;
}
.dashboard_page .dashboard_card .dashboard_total_orders .dash_back-image {
    top:0;
    right: 0%;
}
.dashboard_page .dashboard_card .dashboard_completed_orders .dash_back-image {
    top: -30px;
    right: -5%;
}
.dashboard_page .dashboard_card .dashboard_pending_orders .dash_back-image {
    right: 0;
    bottom: -20%;
}
.dashboard_page .dashboard_card .dashboard_customer .dash_back-image {
    top: 20%;
    right: 0;
}
.dashboard_page .orders-category_tables {
    display: grid;
    grid-template-columns: calc((60%) - (40px / 2)) calc((40%) - (40px / 2));
    gap: 40px;
    margin-bottom: 40px;
}
.dashboard_page .orders-category_tables .latest_orders_table {
    max-width: 100%;
    width: 100%;
}
.dashboard_page .table_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dashboard_page .table_header h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #38373d;
    text-transform: capitalize;
}
.dashboard_page .table_header h5 {
    padding-right: 27px;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #f33e3e;
    text-transform: capitalize;
}
.dashboard_page .table_header h5:before {
    content: "";
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 12px;
    border: none;
    border-top: 0.4px solid #f33e3e;
    border-right: 0.4px solid #f33e3e;
    translate: 0 -50%;
}
.dashboard_page table {
    width: 100%;
    height: calc(100% - 40px);
    border-collapse: collapse;
    box-shadow: 0px 1px 15px 0px #3333330d;
    border-radius: 10px;
    overflow: auto;
}
.dashboard_page table thead {
    /* width: 100%; */
    border-bottom: 1px solid rgba(153, 153, 153, 0.25);
    background-color: #f4f4f4;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.dashboard_page table tr {
    font-size: 15px;
    line-height: 18px;
}
/* .dashboard_page table tbody {
    width: 100%;
} */
.dashboard_page table tbody tr:not(:last-child) {
    border-bottom: 1px solid rgba(153, 153, 153, 0.15);
}
.dashboard_page table thead th {
    font-weight: 600 !important;
    color: #555555 !important;
    padding: 17px 20px;
}
.dashboard_page table tbody td {
    font-weight: 400 !important;
    color: #38373d !important;
}
.dashboard_page table th,
.dashboard_page table td {
    text-wrap: nowrap !important;
}
.dashboard_page .latest_orders_table tbody tr:not(:last-child),
.dashboard_page .pending_order_table tbody tr:not(:last-child),
.dashboard_page .latest_completed_orders_table tbody tr:not(:last-child),
.dashboard_page .latest_transactions_table tbody tr:not(:last-child) {
    height: 105px;
}
.dashboard_page .latest_orders_table table thead th {
    text-align: left;
}
.dashboard_page .latest_orders_table table tbody td {
    padding: 15px 20px;
    text-align: left;
}
.dashboard_page .latest_orders_table tbody tr td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard_page .latest_orders_table tbody tr td:nth-child(3) {
    color: #f33e3e !important;
}
.dashboard_page table thead tr th:first-child,
.dashboard_page table tbody tr td:first-child {
    padding-left: 20px;
    max-width: 100px;
}
.dashboard_page table thead tr th:last-child,
.dashboard_page table tbody tr td:last-child {
    padding-right: 20px;
    max-width: auto;
}
.dashboard_page .latest_orders_table thead tr th:last-child,
.dashboard_page .latest_orders_table tbody tr td:last-child {
    text-align: center;
}
.dashboard_page .latest_orders_table .status_indicator {
    max-width: 100px;
    max-height: 26px;
    border-radius: 5px;
}
.dashboard_page .latest_orders_table .status_indicator p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}
.dashboard_page
    .latest_orders_table
    .status_indicator
    .cancelled_order {
    padding: 5px 21px;
    color: #ae4444;
    border-radius: 5px;
    background-color: #ffe9e9;
}
.dashboard_page
    .latest_orders_table
    .status_indicator
    .processing_order {
    padding: 5px 18px;
    color: #9b804b;
    border-radius: 5px;
    background-color: #fff9e3;
}
.dashboard_page
    .latest_orders_table
    .status_indicator
    .completed_order {
    padding: 5px 18px;
    color: #3D833C;
    border-radius: 5px;
    background-color: #E9FBE7;
}

.dashboard_page .latest_category_table {
    max-width: 100%;
    width: 100%;
}
.dashboard_page .latest_category_table table thead th {
    text-align: left;
}
.dashboard_page .latest_category_table table tbody td {
    padding: 12px 20px;
    text-align: left;
}
.dashboard_page table tbody .product_image {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.dashboard_page table tbody .product_name {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #38373d;
}
.dashboard_page
    .latest_category_table
    tbody
    tr
    td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard_page .latest_category_table thead tr th:last-child,
.dashboard_page .latest_category_table tbody tr td:last-child {
    text-align: center;
    padding-left: 150px;
}
.dashboard_page .customer-info_pending-order_table {
    display: grid;
    grid-template-columns: calc((40%) - (40px / 2)) calc((60%) - (40px / 2));
    gap: 40px;
    margin-bottom: 40px;
}
.dashboard_page .customer-info_pending-order_table .latest_customer_info {
    /* max-width: 41.81%; */
    width: 100%;
}
.dashboard_page .latest_customer_info .customer_card_holder {
    padding: 50px 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 39px;
    row-gap: 62px;
    box-shadow: 0px 1px 15px 0px #3333330d;
    border-radius: 10px;
    background-color: #ffffff;
}
.dashboard_page .customer_card_holder .customer_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard_page .customer_card .customer_image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
}
.dashboard_page .customer_card .card_customer_name {
    margin: 20px 0 7px;
    text-align: center;
}
.dashboard_page .customer_card_holder .customer_card h5 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #38373d;
    text-align: center;
}
.dashboard_page .customer_card_holder .customer_card {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: #999999;
}
.dashboard_page .customer-info_pending-order_table .pending_order_table {
    /* max-width: 55.29%; */
    width: 100%;
}
.dashboard_page .pending_order_table table thead th {
    text-align: left;
}
.dashboard_page .pending_order_table table tbody td {
    padding: 15px 20px;
    text-align: left;
}
.dashboard_page .pending_order_table tbody tr td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard_page .pending_order_table tbody tr td:nth-child(3) {
    color: #f33e3e !important;
}
.dashboard_page .pending_order_table thead tr th:last-child,
.dashboard_page .pending_order_table tbody tr td:last-child {
    text-align: center;
}
.dashboard_page .complete_order-product_tables {
    display: grid;
    grid-template-columns: calc((60%) - (40px / 2)) calc((40%) - (40px / 2));
    gap: 40px;
    margin-bottom: 40px;
}
.dashboard_page .complete_order-product_tables .latest_completed_orders_table {
    /* max-width: 55.62%; */
    width: 100%;
}
.dashboard_page .latest_completed_orders_table table thead th {
    text-align: left;
}
.dashboard_page .latest_completed_orders_table table tbody td {
    padding: 15px 20px;
    text-align: left;
}
.dashboard_page .latest_completed_orders_table tbody tr td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard_page .latest_completed_orders_table tbody tr td:nth-child(3) {
    color: #f33e3e !important;
}
.dashboard_page .latest_completed_orders_table thead tr th:last-child,
.dashboard_page .latest_completed_orders_table tbody tr td:last-child {
    text-align: center;
}
.dashboard_page .complete_order-product_tables .latest_product_table {
    /* max-width: 41.45%; */
    width: 100%;
}
.dashboard_page .latest_product_table table thead th {
    text-align: left;
}
.dashboard_page .latest_product_table table tbody td {
    padding: 12px 20px;
    text-align: left;
}
.dashboard_page .latest_product_table tbody tr td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard_page .latest_product_table tbody .product_online_status .product_name {
    margin-bottom: 5px;
}
.dashboard_page .latest_product_table tbody .product_online_status p {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: #999999;
}
.dashboard_page .latest_product_table thead tr th:last-child,
.dashboard_page .latest_product_table tbody tr td:last-child {
    text-align: center;
    padding-left: 230px;
}
.dashboard_page .menu_transactions_tables {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}
.dashboard_page .menu_transactions_tables .latest_menu_table {
    max-width: 42.32%;
    width: 100%;
}
.dashboard_page .latest_menu_table table thead th {
    text-align: left;
}
.dashboard_page .latest_menu_table table tbody td {
    padding: 12px 20px;
    text-align: left;
}
.dashboard_page .latest_menu_table tbody tr td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard_page .latest_menu_table tbody tr td:nth-child(3){
        padding-left: 55px;
    }
.dashboard_page .latest_menu_table tbody tr td:nth-child(4) {
    color: #f33e3e !important;
}
.dashboard_page .latest_menu_table thead tr th:last-child,
.dashboard_page .latest_menu_table tbody tr td:last-child {
    text-align: center;
}
.dashboard_page .menu_transactions_tables .latest_transactions_table {
    max-width: 100%;
    width: 100%;
}
.dashboard_page .latest_transactions_table table thead th {
    text-align: left;
}
.dashboard_page .latest_transactions_table table tbody td {
    padding: 21px 20px;
    text-align: left;
}
.dashboard_page .latest_transactions_table tbody tr td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard_page
    .latest_transactions_table
    tbody
    tr
    td:nth-child(3) {
    color: #f33e3e !important;
}
.orders_admin_page .order_info .order_table_wrapper {
    overflow-x: auto !important;
    border-bottom: 3px solid #999999;
    scrollbar-width: 3px;
}
@media screen and (max-width: 1380px) {
    .dashboard_page .dashboard_card{
        gap: 25px;
    }
    .dashboard_page .latest_orders_table table,
    .dashboard_page .latest_category_table table,
    .dashboard_page .latest_customer_info table,
    .dashboard_page .pending_order_table table,
    .dashboard_page .latest_completed_orders_table table,
    .dashboard_page .latest_product_table table,
    .dashboard_page .latest_menu_table table,
    .dashboard_page .latest_transactions_table table {
        overflow-x: scroll;
        display: block;
        width: 100%;
    }
    .dashboard_page .latest_customer_info .customer_card_holder{
        overflow-x: scroll;
    }
}


.pagination_count {
    /* position: fixed;
    bottom: 15; */
    width: 100%;
    z-index: 9999999;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.pagination_wrapper {
    padding: 20px !important;
}

.pagination_wrapper .pagination_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pagination_wrapper .pagination_list a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination_wrapper .pagination_list a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.pagination_wrapper .pagination_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination_wrapper .pagination_list a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}