.completed_orders_wrapper {
    margin: 85px 0 0 30px;
    background-color: #fbfbfb;
}
.completed_orders_wrapper .completed_orders-header {
    margin: 0 30px 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.completed_orders-header .completed_orders_banner .banner_text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #38373d;
}
.completed_orders-header .order_by_dates_filter_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.order_by_dates_filter_box .input_dates_for_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    padding: 11px 15px;
    border-radius: 5px;
    border: 1px solid #555555;
}
.order_by_dates_filter_box .input_dates_for_filter input {
    padding: 0;
    background-color: #fbfbfb;
    border-radius: none;
}
.order_by_dates_filter_box .input_dates_for_filter p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #999999;
}
.order_by_dates_filter_box .filter_by_date_button {
    border: 1px solid #555555;
    border-radius: 5px;
}
.order_by_dates_filter_box .filter_by_date_button .filter_btn {
    padding: 10px 35px;
    display: flex;
    align-items: center;
    color: #555555;
    background-color: #fbfbfb;
    border: none;
    border-radius: 5px;
    --f7-touch-ripple-color: none;
}
.order_by_dates_filter_box .filter_by_date_button .filter_btn svg {
    width: 20px;
    height: 20px;
}
.order_by_dates_filter_box .filter_by_date_button .filter_btn span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-left: 10px;
}
.completed_orders_wrapper .completed_order_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.completed_order_content .completed_orders_list {
    max-width: calc((100dvw - 425px) - 55px);
    width: 100%;
}
.completed_orders_list .filtered_list, .upi-payment-methods .payment_list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    max-height: calc(100dvh - 175px);
    scrollbar-width: none;
}
.completed_orders_list .filtered_list .filtered_order_item, .upi-payment-methods .payment_list .upi-payment-method {
    padding: 10px 20px 10px 12px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 0px #3333330d;
}
.completed_orders_list .filtered_list .select, .upi-payment-methods .payment_list .select {
    border: 1.2px solid #f33e3e;
    box-shadow: 0px 1px 10px 0px #f33e3e26;
}
.filtered_order_item .filtered_order_detail, .upi-payment-method .upi-payment-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.upi-payment-method{
    border : 1.2px solid #d6d6d6;
}

.filtered_list .select .user_image {
    display: none;
}
.filtered_list .select .selected_user_image {
    display: block !important;
}
.upi-payment-info .upi_payment_radio{
    accent-color : #f33e3e;
    border: #F33E3E;
}
.filtered_order_item .order_user-info, .upi-payment-method .upi-payment-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.filtered_order_item .order_user-info img {
    width: 70px;
    height: 70px;
}
.filtered_order_item .order_number_time {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.filtered_order_item .order_number_time h3,
.filtered_order_item .filtered_order_payment-info h3 ,.upi-payment-method .upi-payment-info h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #38373d;
}
.filtered_order_item .order_timing {
    color: #555555;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}
.filtered_order_item .order_timing span,
.filtered_order_item .order_timing p,
.filtered_order_item .filtered_order_payment-info p , .upi-payment-method .upi-payment-info p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #555555;
}
.filtered_order_item .filtered_order_payment-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}
.selected_order_details_wrapper {
    max-width: 425px;
    width: 100%;
    position: relative;
}
.selected_order_details_wrapper.selected_order_details {
    position: fixed;
    top: 155px;
    right: 0;
    max-width: 425px;
    width: 100%;
    height: calc(100dvh - 155px);
    background-color: #ffffff;
    box-shadow: -1px 1px 15px 0px #3333330d;
}
.selected_order_details .selected_order_details_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}
.selected_order_details_header h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #38373d;
}
.selected_order_details_header a {
    text-decoration: underline;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #555555;
}
.selected_order_details .order_items_full_list {
    max-height: calc((100dvh - 155px) - 320px);
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0 30px;
}
.selected_order_details .ordered_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selected_order_details .ordered_list_item:not(:first-child) {
    padding-top: 15px !important;
}
.selected_order_details .ordered_list_item:not(:last-child) {
    padding-bottom: 16px !important;
    border-bottom: 0.5px solid #e0e0e0;
}
.selected_order_details .ordered_list_item .order_list_item_detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.selected_order_details .order_list_item_detail .item_size-number {
    display: flex;
    align-items: center;
    gap: 20px;
}
.selected_order_details .ordered_list_item .item_name h5,
.selected_order_details .ordered_list_item .ordered_list_item_price h5 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #38373d;
}
.selected_order_details .ordered_list_item .item_size-number p, .selected_order_details .ordered_list_item .number_of_items {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #555555;
}
.selected_order_details .ordered_list_item .ordered_list_item_price h5 {
    color: #f33e3e;
}
.selected_order_details .pullUp_total_menu-wrapper {
    margin-top: 35px;
    width: 100%;
    max-height: 238px;
}
.selected_order_details .pullUp_total_menu-wrapper .pullUp_total_menu {
    position: absolute;
    width: calc(100% - 60px);
    bottom: 0;
    right: 0;
    padding: 25px 30px;
    box-shadow: 0px -2px 8px 0px #2222220f;
    z-index: 2;
}
/* .selected_order_details .pullUp_total_menu-wrapper .pullUp_total_menu::before {
    content: "";
    width: 37px;
    height: 37px;
    background-color: #f33e3e;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 3;
}
.selected_order_details .pullUp_total_menu-wrapper .pullUp_total_menu::after {
    content: "";
    width: 0;
    height: 0;
    border: none;
    border-top: 7px solid #ffffff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 4;
} */
.selected_order_details .pullUp_total_menu .discount_provided {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selected_order_details .pullUp_total_menu .sub_total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}
.selected_order_details .pullUp_total_menu .divider {
    border: none;
    border-top: 1px dashed #e0e0e0;
    margin: 20px 0;
}
.selected_order_details .pullUp_total_menu h5 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #38373d;
}
.selected_order_details .pullUp_total_menu .total_amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 25px;
}
.selected_order_details .pullUp_total_menu .print_invoice_btn {
    width: 100%;
    padding: 12px 0;
    border-radius: 10px;
    background-color: #f33e3e;
    border: none;
}
.selected_order_details .pullUp_total_menu .print_invoice_btn span {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    --f7-touch-ripple-color: none;
}
@media only screen and (max-width: 991px){
    .completed_orders_list .filtered_list .filtered_order_item{
        padding: 20px;
    }
    .filtered_order_item .filtered_order_detail {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .filtered_order_item .order_user-info {
        justify-content: space-between;
    }
    .filtered_order_item .order_number_time {
        width: 100%;
        justify-content: flex-end;
    }
    .filtered_order_item .order_number{
        text-align: right;
    }
    .filtered_order_item .order_timing {
        justify-content: flex-end;
    }
    .filtered_order_item .filtered_order_payment-info {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}
/* ORDER FILTER POPUP */
.order_filter_popup {
    max-width: 200px;
    width: 100% !important;
    border-radius: 5px !important;
    box-shadow: 0px 2px 8px 0px #00000026;
}
.order_filter_popup .order_filter-data-form {
    padding: 15px;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.order_filter-data-form select,
.order_filter-data-form input{
    border: 1px solid #555555;
    background-color: #FFFFFF;
    padding: 8px 15px;
    color: #555555;
    position: relative;
    --f7-touch-ripple-color: none;
}
.order_filter-data-form .select-selected:after{
    content: '';
    width: 0;
    height: 0;
    border: none;
    border-top: 4px solid #555555;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}
.order_filter-data-form select option{
    color: #38373D !important;
}
.order_filter-data-form select option::selection{
    background-color: #FFF0F0 !important;
    color: #38373D ;
}
.order_filter-data-form .apply_btn{
    padding: 9px 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #F33E3E;
    border: none;
    border-radius: 10px;
    --f7-touch-ripple-color: none;
}
.order_filter-data-form .apply_btn span{
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.calendar-day-number{
    border-radius: 3px !important;
}
.calendar-day-selected .calendar-day-number{
    background-color: #F33E3E !important;
}
.calendar-day-selected-right .calendar-day-number{
    background-color: #F33E3E !important;

}
.calendar-day-selected-left .calendar-day-number{
    background-color: #F33E3E !important;

}
.calendar-day-today .calendar-day-number{
    background-color: transparent;
    color: #000;
}
.calendar-day-selected-range .calendar-day-number{
    background-color: transparent !important;
    color: inherit !important;
}
.calendar-day-selected-range:before, .calendar-day-selected-left:before, .calendar-day-selected-right:before{
    background-color: #FFE1E1 !important;
    opacity: 1 !important;
}