.swiper-slide
{
    width: 67px;
    height: 67px !important;
}
.border_radius_10{
    border-radius: 10px !important;
}
.sheet-modal{
    height: 92% !important;
}

.popover-inner{
    background-color: #fff;
    border-radius: 10px;
}
/*========== FOOD MENU MODAL CSS =============*/
.close-menu{
    position: absolute;
    top: 10px;
    right: 10px;
}
.border-popup{
    width: 40px;
    height: 5px;
    background: #F3F3F3;
    margin: 12px auto 0;
    visibility: hidden !important;
}
.menu-image{
    box-sizing: border-box;
    background: #FAF5F2;
    border-radius: 7px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.swiper-slide{
    width: 67px;
    height: 67px;
}
.demo-swiper .swiper-slide{
    font-size: 25px;
    font-weight: 300;
    display: block;
    background: #fff;
    color: #000;
}
.font-18 {
    font-size: 18px !important;
}
.position-relative{
    position: relative;
}
.menu-title, .menu-list-title {
    text-align: center;
    font-size: 18px;
    padding: 0 10px;
}
.menu-title::before {
    position: absolute;
    content: '';
    border: 1px dashed #000;
    left: 0;
    width: 100%;
    height: 0px;
    top: 11px;
    z-index: -1;
}
.menu-lists{
    height: 100%;
    max-height: 500px;
    overflow: auto;
    width: 85%;
    margin: 0 auto;
}
.menu-title span{
    background: white;
    padding: 0 10px;
}
.add-fav-list i {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots{
    flex: 1;
    border-bottom: 2px dotted #000;
    height: 1em;
}
/*============ RESERVATION CARD ============*/

.reservation_card .card{
    height: calc(100vh - 142px);
}

.simple-list li:after, .links-list a:after, .list .item-inner:after{
    background-color: transparent !important;
}
.list input[type='text'], .list input[type='password'], .list input[type='search'], .list input[type='email'], .list input[type='tel'], .list input[type='url'], .list input[type='date'], .list input[type='month'], .list input[type='datetime-local'], .list input[type='time'], .list input[type='number'], .list select{
    background-color: #fafafa;
    border-radius: 10px;
}
.reservation_card .item-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-bottom: 10px;
}
.reservation_details{
    padding-right: 30px;
    padding-left: 30px;
}
.reservation_form{

    height: calc(100vh - 250px);
    overflow-y: auto;

}
.icon.icon-checkbox{
    border-radius: 3px;
}
label.item-checkbox input[type='checkbox']:checked ~ .icon-checkbox:after, label.item-checkbox input[type='checkbox']:checked ~ * .icon-checkbox:after, .checkbox input[type='checkbox']:checked ~ i:after, label.item-checkbox input[type='checkbox']:indeterminate ~ .icon-checkbox:after, label.item-checkbox input[type='checkbox']:indeterminate ~ * .icon-checkbox:after, .checkbox input[type='checkbox']:indeterminate ~ i:after{
    background-color: #F33E3E;
    border-radius: 3px;
}
.countdown_section{
    background: #f88f721a;
    box-shadow: 0px 1px 9px #f88f721a;
    border-radius: 7px;
    padding: 18px;
    position: relative;
    height: 100%;
    max-height: 125px;
}
.close-countdown{
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    border-radius: 50%;
    padding: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
.font-13{
    font-size: 13px !important;
}
.card-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}
.text-underline {
    text-decoration: underline;
}

.height-40 {
    height: 40px;
}

.height-36 {
    height: 36px;
}
.nav-botton {
    height: 100%;
}

.bg-dark {
    background: #38373D;
}

/*.menu-dropdown-link:nth-child(2) {
    border-bottom: 1px solid #EFEFEF;
}*/
.bg-pink {
    background: #F33E3E;
}

.text-color-pink {
    color: #F33E3E;
}

.font-22 {
    font-size: 22px;
}

.reservation_card{
    margin-top:80px;
}

.item-input-wrap {
    width: 100%;
    background: #F0F0F0;
    border: 0.5px solid #DCDCDC;
    border-radius: 7px;
    height: auto;
}


.border-bottom {
    border-bottom: 1px solid #EAEAEA;
}

#searchData {
    width: 85%;
}
.disable-text, input::placeholder{
    color: #464646;
}

@media screen and (max-width:820px) {
    .header-links {
        width: 100%;
    }
    .reservation_form{
        height: calc(100vh - 730px);
    }
    /*.reservation_card .card .row{
       height: auto !important;
    }*/
    .reservation_card .card .reservation_banner img{
        width:100%;
        max-width:350px;
    }

}
.height_100{
    height: 100%;
}
/* Chrome, Safari, Edge, Opera */

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}
#select-concise{
    background-color: #fafafa;
    border-radius: 10px;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 16px;
}
#location-select-list{
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0.7px 0.7px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    max-height: 220px;
    overflow: auto;
}
#location-select-list li.concise{
    padding: 10px;
}
#location-select-list li.concise:first-child{
    border-radius: 3px 3px 0px 0px;
}
.d-none{
    display: none;
}
.register-button:hover, .register-button:active, .active {
    background: #F33E3E !important;
    color: #fff !important;
}
.sheet-modal-inner .page-content{
    background: #fff !important;
}
@media screen and (max-width:820px){
    .dialog{
        top: 50% !important;
    }
}


/* DIGITAL MENU NEW CSS */
.digital_menu_page {
    margin: 20px 20px !important;
    border-radius: 10px !important;
    padding: 20px 25px;
    height: auto !important;
}
.digital_menu_page .digital_menu_banner-outer {
    margin-bottom: 25px;
}
.digital_menu_page .digital_menu_banner {
    display: flex;
    align-items: center;
    margin-bottom: 10px !important;
}
.digital_menu_page .digital_menu_banner a {
    color: #38373d;
}
.digital_menu_page .digital_menu_banner h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #38373d;
    margin-left: 10px;
}
.digital_menu_page .digital_menu_banner-outer p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #555555;
}
.digital_menu_card {
    margin-top: 70px;
    min-height: calc(100vh - 240px);
}
.font-13 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
}
.height-40 {
    height: 40px;
}
.nav-botton {
    height: 100%;
}
.bg-dark {
    background: #38373d;
}
.menu-dropdown-link {
    border-bottom: 1px solid #efefef;
}
.bg-pink {
    background: #f33e3e;
}

.text-color-pink {
    color: #f33e3e;
}

.font-22 {
    font-size: 22px;
}
.digital_menu_page .digital_menu_swiper .swiper{
    max-height: 135px;
}
.digital_menu_page .digital_menu_swiper .swiper .swiper-wrapper {
    display: flex;
    align-items: flex-start;
    top: 20px;
}
.digital_menu_page
    .digital_menu_swiper
    .swiper
    .swiper-wrapper
    .swiper-slide:not(:last-child) {
    margin-right: 35px;
}
.digital_menu_page .digital_menu_swiper .swiper .swiper-wrapper .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: block;
    background: #fff;
    color: #000;
}
.menu-image {
    box-sizing: border-box;
    background: #faf5f2;
    border-radius: 7px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.position-relative {
    position: relative;
}
.menu-title,
.menu-list-title {
    text-align: center;
    font-size: 18px;
    padding: 0 10px;
}
.menu-title::before {
    position: absolute;
    content: "";
    border: 1px dashed #000;
    left: 10%;
    width: 80%;
    height: 0px;
    top: 11px;
    z-index: 1;
}
.menu-title span {
    background: white;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}
.dots {
    flex: 1;
    border-bottom: 2px dotted #000;
    height: 1em;
}
.swiper-slide {
    width: 67px;
    height: 67px;
}
.menu-lists {
    height: 100%;
    max-height: 390px;
    overflow: auto;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
}
.digital_menu_card .menu-details {
    width: 82%;
    margin: 0 auto;
}
@media screen and (max-width: 820px) {
    .header-links {
        width: 100%;
    }
}
.digital_menu_page
    .digital_menu_swiper
    .swiper
    .swiper-wrapper
    .swiper-slide
    p {
    padding-top: 8px;
    text-wrap: nowrap;
    text-align: center;
}
.slide-active .menu-image {
    background: #f33e3e59 !important;
    box-shadow: 0px 1px 3px #f33e3e59;
    border-radius: 7px;
}
.swiper-pagination-bullet-active {
    background: #f33e3e !important;
}
.digital_menu_page .category_title_show {
    display: flex;
    align-items: center;
    margin: 40px 0 0;
}
.digital_menu_page .category_title_show .hmd-line {
    border: none;
    border-top: 1px dashed rgba(85, 85, 85, 0.4);
    width: 100%;
}
.digital_menu_page .category_title_show .hmd_category_name_empty {
    text-wrap: nowrap;
    padding: 0 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #38373d;
}
.digital_menu_page .category_title_show .hmd_category_name {
    text-wrap: nowrap;
    padding: 0 20px;
    font-size: 26px;
    line-height: 31px;
    font-weight: 600;
    color: #38373d;
}
.digital_menu_page .empty_category_list {
    text-align: center;
    padding-bottom: 45px;
}
.digital_menu_page .empty_category_list p {
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    color: #38373d;
    padding-top: 15px;
}

.digital_menu_page .scroll-category .faq-menu-items {
    overflow-y: auto;
    max-height: 300px;
}
.digital_menu_page .scroll-category .faq-menu-items::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    box-shadow: -1px -1px 4px 0px rgba(255, 255, 255, 0.3) inset;
    background-color: #e0e0e0;
}
.digital_menu_page .scroll-category .faq-menu-items::-webkit-scrollbar-thumb {
    background-color: #999999;
    box-shadow: -1px -1px 4px 0px #ffffff4d inset;
    border-radius: 10px;
}
.digital_menu_page .digital_gujarati_dish_category {
    padding-top: 40px;
    padding-right: 15px;
    margin-right: -25px;
}
.digital_menu_page .digital_gujarati_dish_category .faq-heading {
    font-size: 22px;
    text-indent: 27px;
    font-weight: 600;
    color: #38373d;
    width: 100%;
    margin: 0 !important;
    padding: 0;
    border-bottom: 1px dashed rgba(85, 85, 85, 0.4);
}
.digital_menu_page .digital_gujarati_dish_category .faq-menu-items {
    font-weight: 400;
    color: #919191;
    width: 100%;
    padding: 0;
    margin: 25px 0 35px;
}
.digital_menu_page .digital_gujarati_dish_category .faq {
    width: 100%;
    background: #ffffff;
}
.digital_menu_page .digital_gujarati_dish_category .faq input {
    margin: 0;
}
.digital_menu_page .digital_gujarati_dish_category .faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
}

.digital_menu_page .faq input[type="checkbox"] {
    display: none;
}

.digital_menu_page .digital_gujarati_dish_category .faq input[type="checkbox"]:not(:checked)
+ label .faq-arrow {
    width: 10px;
    height: 10px;
    border-top: 0.5px solid rgba(56, 55, 61, 1);
    border-right: 0.5px solid rgba(56, 55, 61, 1);
    float: right;
    position: absolute;
    top: 10px;
    right: 3px;
    transform: rotate(-45deg);
}
.digital_menu_page .digital_gujarati_dish_category .faq input[type="checkbox"]:checked
+ label .faq-arrow {
    width: 10px;
    height: 10px;
    border-top: 0.5px solid rgba(56, 55, 61, 1);
    border-right: 0.5px solid rgba(56, 55, 61, 1);
    float: right;
    position: absolute;
    top: 10px;
    right: 3px;
    transform: rotate(135deg);
}

.digital_menu_page
    .digital_gujarati_dish_category
    .faq
    input[type="checkbox"]:checked
    + label {
    display: block;
}
.digital_menu_page
    .digital_gujarati_dish_category
    .faq
    input[type="checkbox"]:not(:checked)
    + label {
    display: block;
    height: 34px;
}
.digital_menu_page
    .digital_gujarati_dish_category
    .faq-menu-items
    .sub-menu-items {
    display: grid;
    row-gap: 20px;
    column-gap: 10px;
}
.digital_menu_page
    .digital_gujarati_dish_category
    .faq-menu-items
    .item_digital_menu {
    grid-template-columns: auto auto auto auto;
}
.digital_menu_page
    .digital_gujarati_dish_category
    .faq-menu-items
    .papad_digital_menu {
    grid-template-columns: auto auto auto auto;
}
.digital_menu_page .digital_gujarati_dish_category .faq-menu-items .sub_items {
    display: flex;
    align-items: center;
    gap: 15px;
}
.digital_menu_page
    .digital_gujarati_dish_category
    .faq-menu-items
    .sub_items
    .item_display
    img {
    width: 60px;
}
.digital_menu_page
    .digital_gujarati_dish_category
    .faq-menu-items
    .sub_items
    .item_disc
    .item_name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #38373d;
    text-wrap: nowrap;
    text-transform: capitalize;
}
.digital_menu_page
    .digital_gujarati_dish_category
    .faq-menu-items
    .sub_items
    .item_disc
    .item_price {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #f33e3e;
    margin-top: 7px !important;
}

.table_floor_swiper .swiper-slide{
    display: flex;
    height: auto !important;
}
@media screen and (max-width : 820px) {
    .digital_menu_page
    .digital_gujarati_dish_category
    .faq-menu-items
    .item_digital_menu {
        grid-template-columns: auto auto auto;
    }
    .digital_menu_page
        .digital_gujarati_dish_category
        .faq-menu-items
        .papad_digital_menu {
        grid-template-columns: auto auto auto;
    }
}

.addMinutesPopup .addminutes-form .minutes_input .add-minutes-input {
    border-radius: 10px 0 0 10px !important;
    background: #fafafa;
    height: 45px;
}
.addMinutesPopup.popup {
    top: 35% !important;
    /* left: 34% !important; */
}
.popup_button .button {
    border-radius: 10px;
}
.minutes_text {
    height: 45px;
    line-height: 45px;
    border: 1px solid #e7e7e7;
    border-radius: 0 10px 10px 0;
    padding: 0 10px;
    background-color: #fafafa;
}

.popup_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #38373d;
}
.addminutes-form {
    border-top: 1px solid #d8d8d8;
}
.mr-72 {
    margin-right: 72px;
}
.C_card .card-content {
    padding-right: 8px !important;
    padding-left: 18px !important;
}
.menu-item-dropdown .menu-item-content .f7-icons {
    font-size: 15px;
    margin-left: 10px;
}
.border__bottom {
    border-bottom: 0.5px solid #555555;
}
.w-100 {
    width: 100%;
}
.justify_content_between {
    justify-content: space-between;
}
.header-links {
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    height: 60px !important;
    position: fixed;
    width: 100%;
    z-index: 99; */
}
.height-40 {
    height: 40px;
}

.nav-link,
.menu-item-content {
    height: 100%;
    text-transform: capitalize;
}
.menu-item-content {
    position: relative;
    z-index: 9;
}
.menu-dropdown-content {
    box-shadow: 0px 0.5px 12px rgba(0, 0, 0, 0.2);
    min-width: 100% !important;
    top: -30px;
}
.menu-dropdown-center:before,
.menu-dropdown-center:after {
    content: none;
}
.bg-dark {
    background: #38373d;
}
.menu-item-dropdown-opened .menu-item-content {
    background: #ff2d55;
}
.menu-dropdown-link {
    border-bottom: 1px solid #efefef;
}
.col-25 {
    padding: 5px;
}
.table_image {
    height: 100%;
    min-height: 44px;
}
.card {
    border-radius: 10px;
}
.size-18 {
    font-size: 18px;
}
p.table__text {
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}
p.count__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #555555;
}
.table_row {
    display: flex;
}
.table_row .table_1 {
    border-left: 10px solid #0fc963;
    width: 100%;
    height: 190px;
}
.table_row .table_2 {
    border-left: 10px solid #ff6161;
    width: 100%;
    min-width: 332px;
}
.table_row .table_3 {
    border-left: 10px solid #fc8e5e;
    width: 100%;
    min-width: 412px;
}
.table_row .table_4 {
    border-left: 10px solid #ff619a;
    width: 100%;
    min-width: 500px;
}
.table_row .table_4 .card-content,
.table_row .table_5 .card-content {
    padding-top: 50px;
}
.table_row .table_10 .card-content {
    padding-top: 50px;
}
.table_row .table_4_margin {
    margin-right: 103px;
}
.table_row .table_5 {
    border-left: 10px solid #9ecbff;
    width: 100%;
    min-width: 574px;
}
.table_row .table_9 {
    width: 100%;
    min-width: 182px;
    /*max-width: 182px;*/
    margin: 0 auto;
    border-left: 10px solid #fcd95e;
}
.table_row .table_10 {
    width: 100%;
    min-width: 1120px;
    margin: 0 auto;
    border-left: 10px solid #c6c6c6;
}
.tables {
    overflow-x: auto;
}
.table_main {
    width: 100%;
    height: calc(100vh - 70px);
    overflow: auto;
    margin-top: 70px;
}
.center_table_card {
    margin-left: 83px;
    margin-right: 83px;
}
.tables .row {
    flex-wrap: nowrap !important;
}
.table_card_right_margin {
    margin-right: 72px;
}
.table1__details {
    width: 100%;
    /* overflow-x: auto; */
    height: 100%;
    max-height: 122px;
    display: flex;
    align-items: end;
}

.table2__details {
    width: 100%;
    max-width: 323px;
    overflow-x: auto;
}
.table3__details {
    width: 100%;
    max-width: 426px;
    overflow-x: auto;
}
.person {
    white-space: nowrap;
}
/*=========  TABLE SWIPER ============*/
.swiper-slide.active {
    background: transparent !important;
    border-bottom: 1px solid #f33e3e;
}
.swiper-slide.active p {
    color: #f33e3e !important;
}
.table_main
    .table_floor_swiper
    .floor_swiper_inner
    .swiper-slide
    p.swiper_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #38373d;
    white-space: nowrap;
    justify-content: center;
}
.table_main .table_floor_swiper .floor_swiper_inner {
    border-bottom: 1px solid #e0e0e0;
    /*margin-left: 20px;*/
}
.table_main .table_floor_swiper .floor_swiper_inner .room_available {
    width: 35px;
    height: 21px;
    background: #fdd5d5;
    border-radius: 2px;
    color: #f33e3e;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.h_100 {
    height: 100%;
}
/*=============== POPOVER=================*/
.popover.popover-move {
    background: #f33e3e;
    border: 0.5px solid transparent;
}
.popover.popover-move .popover-inner{
    background: transparent;
}
.popover {
    width: 100%;
    max-width: 180px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 27%);
    background: #fff;
    border: 0.5px solid #999999;
    border-radius: 7px;
}
.floor-drop-down {
    min-width: 250px;
    max-width: 250px;
    position: absolute !important;
    left: 100%;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(2em);
    border: 0.5px solid #999999;
    max-height: 360px;
    overflow-y: auto;
    border-radius: 7px;
}
.table-drop-down {
    max-width: 240px;
    min-width: 240px;
    position: absolute !important;
    background: white;
    left: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(2em);
    border: 0.5px solid #999999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 360px;
    overflow-y: auto;
    border-radius: 7px;
}
.floor__list.add_right_before::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 3px;
    background: #fff;
    right: -9px;
    bottom: 80px;
    transform: rotate(45deg);
    opacity: 1;
}
.floor__list.add_left_before::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 3px;
    background: #fff;
    left: -9px;
    bottom: 80px;
    transform: rotate(45deg);
    opacity: 1;
}
.table__list.add_right_before::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 3px;
    background: #fff;
    right: -9px;
    bottom: 21px;
    transform: rotate(45deg);
    opacity: 1;
}
.table__list.add_left_before::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 3px;
    background: #fff;
    left: -9px;
    bottom: 21px;
    transform: rotate(45deg);
    opacity: 1;
}
.floor_dropdown_visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(-1em);
}
.popover-angle:after {
    border: 0.5px solid #999999 !important;
}
.popover-angle.on-bottom:after {
    border: 0.5px solid #999999 !important;
}
.floor_room_available .room_available {
    width: 35px;
    height: 21px;
    background: #fdd5d5;
    border-radius: 2px;
    color: #f33e3e;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.floor_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 172px;
}
/*=========== ONGOING POPOVER =============*/
.ongoing_popover {
    background-color: #e2e2e2;
    /* left : 5px; */
    border: 1px solid #c4c4c4;
    position: relative;
}
.table_reservation_info {
    height: 70px;
}
.ongoing_blinking {
    position: relative;
    height: 100%;
    left: 5px;
}
.ongoing_blinking::before {
    position: absolute;
    content: "";
    top: -7px;
    left: -11px;
    background-image: url("/public/images/finish_blinking2.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180px 220px;
    width: 100%;
    height: 100%;
    /* z-index: 9999; */
}
/*========= NEW ORDER ADD ========*/
.neworder_add {
    background-image: url("/public/images/blinking.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.order_tooltip {
    background: #f33e3e;
    color: #fff;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 96px;
    left: 0;
    text-align: center;
    font-weight: 500;
}
.neworder_tooltip {
    top: -44px;
}
.finish_order_tooltip {
    top: -43px;
    padding: 10px;
    font-size: 12px;
}
.order_tooltip::before {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f33e3e transparent transparent transparent;
}
/*========= NEW ORDER ADD END ========*/

@media screen and (max-width: 820px) {
    .table_9_chair {
        width: 100%;
        min-width: 1120px;
    }
    .margin_right {
        margin-right: 45px;
    }
    .margin_left {
        margin-left: 45px;
    }
    .table-card {
        width: 100% !important;
    }
    .C_card .card-content {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
    .C_card .card-content p {
        font-size: 13px;
    }
}
.table_reservation {
    height: 60px;
}
.extra-div {
    min-width: 300px;
    visibility: hidden;
}
.time-over {
    border: 1px solid #000;
}
.demo-swiper .swiper-slide,
.demo-swiper-multiple .swiper-slide {
    background: transparent;
}
.popover-move .popover-angle:after {
    background: #f33e3e !important;
    border: 0.5px solid transparent !important;
}
.popover-angle:after {
    border: 0.5px solid #999999 !important;
}
.ios .popover-angle.on-bottom:after {
    left: 0;
    top: -22px !important;
}

* {
    box-sizing: border-box;
}
.header-link .button {
    border-radius: 10px !important;
}
.header-link .menu-item {
    border-radius: 10px !important;
    background: #38373d !important;
}
.nav-button {
    text-transform: capitalize;
}
.navbar a.link {
    color: #000;
}

.right {
    width: 40%;
    margin-left: 0 !important;
}
.header-link {
    width: 100%;
}
.header-link button {
    text-transform: capitalize;
}
.card-header {
    background: transparent;
    min-height: 0 !important;
    overflow: hidden;
    color: #000;
    border-radius: 10px 10px 0 0 !important;
}
.card-header:after {
    background-color: transparent !important;
}
.header_detail {
    width: 100%;
}
.person-info i {
    font-size: 12px !important;
    padding-right: 5px;
    white-space: nowrap;
}
.person-info {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 7px 5px !important;
    font-size: 10px !important;
    width: 100%;
    max-width: 96px;
    margin-right: 30px;
    position: relative;
    height: 60px;
}
.person-info .person_info_name p {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #38373d;
}
.person-info_move {
    background: #fff;
    border: 1px solid #f33e3e;
    box-shadow: 0px 0px 10px rgb(241 2 2 / 29%);
}
.waiting-time {
    border-left: 0.5px solid #555555;
    padding-left: 8px;
    margin-left: 8px;
}
.table_reservation_info .person-info span {
    font-size: 12px;
    line-height: 15px;
    color: #38373d;
}
.bg-color-dark-pink {
    background-color: #f33e3e !important;
}

.dialog-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.dialog-inner:after {
    content: none !important;
}

.dialog {
    background-color: #fff !important;
    width: 378px !important;
    /*transform: translate(-13%, -50%) !important;*/
    transform: translateY(100%) !important;
    left: 45% !important;
}
.dialog.modal-in {
    transform: translateY(-50%) !important;
}

.dialog-button {
    margin: 0 5px !important;
    border-radius: var(--f7-dialog-border-radius) !important;
}

.dialog-buttons {
    margin: 0 5px 15px;
}
.table_row .card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
}

/*.framework7-root {
    overflow: scroll !important;
    box-sizing: border-box;
    background: rgb(0 0 0 / 41%) !important;
}*/
.floor_blinking_img {
    width: 100%;
    height: 100%;
    max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
}
@media screen and (max-width: 820px) {
    .dialog {
        transform: translateY(100%) !important;
        left: 43% !important;
    }
    .dialog.modal-in {
        transform: translateY(-100%) !important;
    }
}
.calendar-popover{
    max-width: 320px;
}


button.data_set_btn {
    outline: none;
    border: none;
}

.overflow_x_inherit {
    overflow-x: inherit;
}

.justify_content_between {
    justify-content: space-between !important;
}

.all_reservation {
    margin-top: 59px;
    background-color: #ffffff;
}

.all_reservation_inner .card {
    height: calc(100vh - 165px);
    overflow: auto;
}

.all_reservation .card {
    box-shadow: none;
    background-color: transparent;
}

.all_reservation .item-input-wrap {
    width: 100%;
    background: #FFFFFF;
    border: 0.5px solid #555555;
    border-radius: 7px;
    height: auto;
}

.all_reservation .filters_button .button {
    border: 1px solid #555555;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    border-radius: 7px;
}

/*======== TABLE ==========*/
.reservation_table thead tr {
    background: #F4F4F4;
}

.reservation_table .table_content table tr td {
    padding: 20px 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #38373D;
    white-space: nowrap;
}

.reservation_table .table_content table thead tr th {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #555555;
}

.reservation_table .table_content table tbody tr:nth-child(even) {
    background-color: #FAFAFA;
}

.reservation_table .table_content .status_info {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 26px;
    line-height: 26px;
    font-weight: 400;
    font-size: 12px;
    width: 80%;
    padding: 0 42px;
}

.reservation_table .table_content .status_info.status_complete {
    background-color: #E9FBE7;
    color: #3D833C;
}

.reservation_table .table_content .status_info.status_waiting {
    background: #E7E7E7;
    color: #555555;
}

.reservation_table .table_content .status_info.status_ongoing {
    background: #FFF9E3;
    color: #D39255;
}

.reservation_table .table_content .status_info.status_cancel {
    background: #FFE7DD;
    color: #E31A1A;
}

.pagination_count {
    /* position: fixed;
    bottom: 15; */
    width: 100%;
    z-index: 9999999;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.pagination_count .pagination_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pagination_count .pagination_list a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination_count .pagination_list a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.menu-item-dropdown-right .menu-dropdown::before,
.menu-item-dropdown-center .menu-dropdown::before,
.menu-dropdown-right::before,
.menu-dropdown-center::before {
    content: none;
}

.reservation_table .table_content .menu-dropdown {
    background-color: transparent;
}

.reservation_table .table_content .menu-dropdown-content {
    top: -9px !important;
}

.reservation_table .table_content .menu-item-dropdown-right .menu-dropdown-content,
.reservation_table .table_content .menu-dropdown-right .menu-dropdown-content {
    right: 33px;
    border-top-right-radius: 5px;
    width: 180px;
}

.reservation_table .table_content .menu-dropdown-content {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(34, 34, 34, 0.1);
    z-index: 9999;
}

.reservation_table .table_content .menu-dropdown-content a {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #999999;
}

.reservation_table .table_content .menu-dropdown-link:last-child {
    border-top: 0.5px solid #999999;
    border-radius: 0;
}

.reservation_table .table_content .menu-dropdown-link {
    justify-content: flex-start !important;
}

.pagination_count .pagination_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination_count .pagination_list a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.menu-dropdown-link::before {
    background-color: #F33E3E !important;
    height: 100%;
    top: -6px;
}

.active-state {
    background-color: none !important;
    opacity: 0 !important;
}
</style>
<style>
::placeholder {
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 17px;
    color: #555555 !important;
}

.height_40 {
    height: 40px !important;
}

.font-18 {
    font-size: 18px !important;
}

.height_50 {
    height: 50px !important;
}

/*===== SERACH BOX CSS =======*/
.search__data {
    width: 90%;
    line-height: 20px;
    font-size: var(--f7-input-font-size);
}

.search_data_wrap {
    width: 100%;
    background: #FFFFFF;
    border: 0.5px solid #555555;
    border-radius: 7px;
    height: auto;
}

/*===== SERACH BOX CSS END=======*/
.calendar.calendar-range {
    background-color: #FFFFFF !important;
    border-radius: 10px !important;
}

@media screen and (max-width:820px) {
    .search__data {
        width: 87%;
    }
}