.grid {
    display: grid;
    /* width: 100%; */
}

.grid-gap-25 {
    gap: 25px 25px;
}

.grid-gap-5 {
    gap: 5px 5px;
}

.grid-cols-2 {
    grid-template-columns: auto auto;
}

.category-list-section {
    margin-top: 77px;
}

.combo-banner {
    margin: 81px 30px 0 !important;
}

.combo-banner-heading svg {
    margin-right: 7px;
}

.combo-search-bar {
    margin: 0 !important;
}

.combo-search-bar::after {
    display: none;
}
.combo-search-bar {
    border: 0.5px solid #dcdcdc !important;
    height: auto;
}
.combo-search-bar input {
    background-color: #f0f0f0 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    font-weight: 400 !important;
    color: #999999 !important;
    padding: 8px 32px !important;
}

.combo-btn {
    background-color: #f33e3e;
    box-shadow: 0px 2px 4px 0px #acacac73;
    padding: 10px 25px !important;
    text-align: center;
    border-radius: 7px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    height: auto;
    text-transform: capitalize;
}

.combo-btn svg {
    margin-right: 5px;
}

.combo-list {
    padding: 25px 30px 0;
}

.combo-card {
    position: relative;
    padding: 24px !important;
}
.add-combo-product-card {
    position: relative;
    border-radius: 10px;
}

.combo-name h4,
.add-combo-product-name h4 {
    font-size: 15px;
    line-height: 18.15px;
    font-weight: 500 !important;
    color: #38373d;
    margin-top: 15px !important;
}

.combo-price,
.add-combo-product-price {
    font-size: 15px;
    line-height: 18.15px;
    font-weight: 500 !important;
    color: #f33e3e;
    margin-top: 7px !important;
}

.combo-change {
    margin-top: 20px;
}

.edit-combo {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #555555;
    position: relative;
    border-right: 1px solid #c6c6c6;
}

.edit-combo svg {
    margin-right: 5px;
}

.delete-combo {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #f33e3e;
    text-align: right;
}

.delete-combo svg {
    margin-right: 5px;
}

.combo-image {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 156px;
    max-height: 100px;
    min-height: 100px;
}

.combo-image img {
    display: block;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
}

@media screen and (min-width: 991px) {
    .grid-cols-5 {
        grid-template-columns: calc((100% - 100px) / 5) calc((100% - 100px) / 5) calc((100% - 100px) / 5) calc((100% - 100px) / 5) calc((100% - 100px) / 5);
    }
    .grid-cols-4 {
        grid-template-columns: calc((100% - 75px) / 4) calc((100% - 75px) / 4) calc((100% - 75px) / 4) calc((100% - 75px) / 4);
    }
}

@media screen and (max-width: 991px) {
    .medium-grid-cols-4 {
        grid-template-columns: calc((100% - 60px) / 4) calc((100% - 60px) / 4) calc((100% - 60px) / 4) calc((100% - 60px) / 4);
    }
    .medium-grid-cols-3 {
        grid-template-columns: calc((100% - 40px) / 3) calc((100% - 40px) / 3) calc((100% - 40px) / 3);
    }

    .combo-card {
        padding: 14px !important;
    }

    .combo-image {
        margin: 0 auto;
        text-align: center;
        max-width: 143px !important;
        max-height: 94px !important;
    }
    .combo-image img {
        max-width: 143px;
        min-height: 94px;
        max-height: 94px;
    }

    .add-combo-product-card {
        position: relative;
        border-radius: 10px;
    }
}

/* ADD COMBO */

.add-combo-banner {
    padding: 25px 25px 10px 30px;
    position: sticky;
    top: 60px;
    z-index: 2;
    background-color: #f7f7f7 !important;
    /* box-shadow: 0px 1.5px 3px 0px #00000026; */
}

.add-combo {
    margin-top: 15px;
    margin-bottom: 25px;
}

.selected-product {
    border: 1.2px solid #f33e3e !important;
    box-shadow: 0px 1px 10px 0px #f33e3e26 !important;
}

.added-combo-details {
    max-width: 100%;
}

.added-combo-details h4 {
    font-size: 16px !important;
    line-height: 19px;
    font-weight: 600 !important;
    color: #555555 !important;
}

.added-combo-discr tr:last-child {
    margin-top: 7px;
}

.added-combo-discr td {
    max-width: 191px;
}

.added-combo-discr td:first-child {
    padding-right: 20px !important;
}

.added-combo-input {
    color: #555555 !important;
    font-size: 15px !important;
    line-height: 18px;
    font-weight: 400;
    padding: 14px 15px !important;
    background-color: #fafafa !important;
    border-radius: 10px !important;
    width: 100%;
    accent-color: #555555;
}

.added-combo-type {
    max-width: 100%;
    margin-top: 25px;
}

.added-combo-type input {
    accent-color: #555555;
    margin-right: 10px;
}

.type-radio-btn {
    margin-right: 110px;
}

.type-radio-btn:first-child,
.status-radio-btn:first-child {
    margin-top: 15px;
}

.type-radio-btn:last-child,
.status-radio-btn:last-child {
    margin-top: 7px;
}

.added-combo-type span {
    font-size: 15px !important;
    line-height: 18px;
    font-weight: 500 !important;
    color: #555555 !important;
}

.added-combo-item-view {
    margin-top: 25px;
}

.added-combo-item-view h4 {
    font-size: 16px !important;
    line-height: 19px;
    font-weight: 600 !important;
    color: #555555 !important;
}

.edit-picture {
    margin-top: 7px;
    color: #f33e3e;
    outline: 1px solid #f33e3e;
    align-items: center;
    border-radius: 5px;
    box-shadow: -1px 1px 15px 0px #3333330d;
}

.edit-picture-img {
    background-color: #fff0f0;
    border-radius: 5px 0px 0px 5px;
    padding: 7px 10px;
    text-align: center;
    border-right: 1px solid #f33e3e;
}

.edit-picture-btn {
    text-align: center;
    width: 100%;
}

.edit-picture-btn a {
    color: #f33e3e;
    margin-left: 7px !important;
    font-size: 14px !important;
    line-height: 16px;
    font-weight: 500 !important;
}

.added-product-combo {
    margin-top: 25px;
}

.added-product-combo_list {
    list-style: none;
}

.added-product-combo_list hr {
    border-top: 0.5px #e0e0e0;
    border-left: 0;
    border-right: 0;
    margin: 10px 0;
}

.added-combo_list-item {
    display: flex;
    align-items: center;
    max-height: 45px;
}

.added-combo_list-item svg {
    margin-right: 15px;
}

.added-list-item-preview {
    max-height: 48px;
    max-width: 48px;
    background-color: #ffe3e3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.added-list-item-preview img {
    display: block;
    max-width: 45px;
    max-height: 45px;
}

.added-combo_list-item p {
    font-size: 15px !important;
    line-height: 18px;
    font-weight: 500 !important;
    color: #38373d !important;
}

.added-product-combo-btns {
    max-width: 100%;
    position: fixed;
    gap: 20px;
    bottom: 25px;
    margin: 13px auto;
    text-align: center;
}

.clear-all-btn a,
.add-combo-btn a {
    max-width: 50%;
    font-size: 18px !important;
    line-height: 21px;
    font-weight: 500 !important;
    text-align: center;
    border-radius: 10px;
}

.clear-all-btn a {
    padding: 12px 59px;
    color: #f33e3e;
    box-shadow: 0px -1px 4px 0px #a6a6a60d;
    box-shadow: 0px 1.5px 5px 0px #a6a6a666;
}

.add-combo-btn a {
    padding: 12px 44px;
    background-color: #f33e3e;
    box-shadow: 2.5px -2.5px 2px 0px #863e2026 inset;
    box-shadow: 1px 1px 4px 0px #8f716459;
}

.product_list_card {
    margin-top: 60px !important;
}

.food-category {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: auto;
    left: auto;
}

@media screen and (min-width: 991px) {
    .add-combo-header {
        max-width: 100%;
    }
    .add-combo-list {
        padding: 0 25px 0 30px;
        max-width: 100%;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .add-combo-product-card {
        padding: 24px !important;
    }

    .add-combo-slider-wrapper {
        max-width: 463px !important;
        min-width: 463px !important;
    }

    .add-combo-slider {
        padding: 30px 30px 0;
        max-width: calc(463px - 60px);
        height: 100%;
        position: fixed;
        right: 0;
        background-color: #ffffff;
        box-shadow: -1px 1px 15px 0px #3333330d;
        z-index: 5;
    }

    .added-product-combo {
        max-height: 245px;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .horizontal-added-combo-slider {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .add-combo-header {
        max-width: calc(100%);
        z-index: -1;
    }

    .add-combo-list {
        padding: 0 25px 0 30px;
        max-width: 100%;
        z-index: -1;
    }

    .add-combo-product-card {
        padding: 14px !important;
    }

    .grid-gap-20 {
        gap: 20px 20px;
    }

    .add-combo {
        margin-bottom: 20px;
    }

    .add-combo-slider-wrapper {
        max-width: 44px !important;
        min-width: 44px !important;
    }

    .add-combo-slider {
        padding: 30px 30px 0px;
        max-width: 463px;
        height: 100%;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: #ffffff;
        box-shadow: -1px 1px 15px 0px #3333330d;
        z-index: 5;
    }

    .added-product-combo {
        max-height: 500px;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .horizontal-added-combo-slider {
        display: block;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background-color: #f33e3e;
        height: 28px;
        width: 28px;
    }

    .horizontal-added-combo-slider a {
        display: flex;
        position: relative;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .medium-grid-cols-4 {
        grid-template-columns: auto auto;
    }

    .add-combo-slider {
        left: 100%;
        transform: translate(-29px);
    }

    .horizontal-added-combo-slider {
        transform: rotate(180deg);
        left: -25%;
    }
}
@media screen and (max-width: 576px) {
    .medium-grid-cols-4 {
        grid-template-columns: auto;
    }
}

/* FOOD CATEGORY */
.add-list{
    padding: 0 30px;
    max-width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}
.categoryPopup,
.EditCategoryPopup,
.DeleteCategoryPopup,
.IngradientPopup,
.EditIngradientPopup,
.DeleteIngradientPopup,
.DeleteProductPopup {
    max-width: 378px;
    position: fixed;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 0px #0000001c;
    background-color: #ffffff;
}
.category-form {
    padding: 16px 12px 0;
}
.popup_title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #38373d;
    text-transform: capitalize;
}
.category-add {
    padding: 15px 13px 0;
    border-top: 1px solid #d8d8d8;
}
.add_category_name,
.add_sub-category_name,
.add_ingradient_name {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #555555;
}
.categoryName,
.sub-categoryName,
.ingradientName {
    width: 100%;
    margin-top: 7px;
}
.category-name,
.sub-category-name,
.ingradient-name,
.ingradient-price {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #999999;
    background-color: #fafafa !important;
}
.category-image-selection,
.sub-category-image-selection {
    margin-top: 15px;
    padding: 20px 0;
    background-color: #fafafa;
    outline: 1px dashed #999999;
    border-radius: 10px;
}
.category-add-image,
.sub-category-add-image {
    color: #999999;
    text-align: center;
}
.category-add-image-text,
.sub-category-add-image-text {
    margin-top: 15px;
    text-align: center;
}
.add-image-text {
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    color: #999999;
}
.popup_button {
    margin-top: 35px;
    gap: 20px;
}
.popup-cancel-button {
    padding: 12px 35px;
    max-width: 50%;
    background-color: #ffffff;
    font-size: 18px !important;
    line-height: 21px;
    font-weight: 500 !important;
    color: #38373d !important;
    text-transform: capitalize;
}
.popup-ok-button {
    padding: 12px 52px;
    max-width: 50%;
    background-color: #f33e3e;
    font-size: 18px !important;
    line-height: 21px;
    font-weight: 500 !important;
    color: #ffffff !important;
}
.wave-image-content img {
    width: 100%;
}
.delete-category-form,
.delete-subcategory-form,
.delete-ingradient-form,
.delete-product-form{
    padding: 30px 0px 0;
    text-align: center;
}

.delete-category-WarningSign {
    margin: 0 auto;
    width: 51px;
    height: 51px;
    border-radius: 100%;
    background-color: #fdd5d5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-category-warning-text {
    margin-top: 20px !important;
    text-align: center;
    font-size: 18px !important;
    line-height: 22px;
    font-weight: 500 !important;
    color: #38373d !important;
}
.DeleteCategoryPopup .popup_button {
    margin-top: 30px !important;
}

/* FOOD SUB-CATEGORY */

.sub-category-image-selection {
    margin-bottom: 20px;
}
.choose_sub-category_title{
    margin-top: 20px !important;
    font-size: 14px !important;
    line-height: 17px;
    font-weight: 600 !important;
    color: #555555 !important;
}
.choose_sub-category{
    margin-top: 7px;
}
.choose_sub-category select{
    width: 100%;
}
.choose_sub-category option{
    font-size: 14px !important;
    line-height: 16px;
    font-weight: 600 !important;
    color: #555555 !important;
    justify-content: space-between;
    align-items: center;
}
.choose_sub-category option label{
    text-align: left;
}

/* INGRADIENTS */

.add_ingradient_image{
    margin-top: 20px !important;
}
.add_ingradient_image label,
.ingradient_price label{
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #555555;
}
.ingradient-image-selection{
    margin-top: 8px;
}
.ingradient_price{
    margin-top: 20px;
}
.ingradientPrice{
    margin-top: 7px;
}
.ingradientPopup .popup_button,
.DeleteIngradientPopup .popup_button,
.DeleteProductPopup .popup_button{
    margin-top: 30px;
}

/* ADD PRODUCT PAGE */

.add-product-page{
    width: 100%;
}

.add-product_details{
    width: calc(100% - 463px);
    padding: 30px 27px 0 30px;
}

.add-product_heading h4{
    font-size: 20px !important;
    line-height: 24px;
    font-weight: 600 !important;
    color: #38373D !important;
}

.add-product_heading h4 svg{
    margin-right: 7px;
}

.add-product_form{
    margin-top: 30px;
}

.add-product_form label{
    font-size: 14px;
    line-height: 17px;
    font-weight: 600px;
    color: #555555;
}

.add-product_name-price{
    width: 100%;
    gap: 25px;
}

.add-product_name,
.add-product_price{
    width: 50%;
}



.add-product_search-wrapper{
    width: 463px;
}