/* Mobile App Css */
.main-app-overlay.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.main-app-overlay.overlay.loaded {
    z-index: -1;
    transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
    transition-delay: 0.8s;
}
.main-app-overlay.overlay .overlayDoor:before,
.main-app-overlay.overlay .overlayDoor:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
    transition-delay: 0.8s;
}
.main-app-overlay.overlay .overlayDoor:before {
    left: 0;
}
.main-app-overlay.overlay .overlayDoor:after {
    right: 0;
}
.main-app-overlay.overlay.loaded .overlayDoor:before {
    left: -50%;
}
.main-app-overlay.overlay.loaded .overlayDoor:after {
    right: -50%;
}
.main-app-overlay.overlay.loaded .overlayContent {
    opacity: 0;
    margin-top: -15px;
}
.main-app-overlay.overlay .overlayContent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}

/* Register Vue */
/* Scope */
.height_100 {
    height: 100%;
}
.list .item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.position-relative {
    position: relative;
}
.border_bottom {
    border-bottom: 1px solid #dbdbdb;
}
#select-concise {
    background-color: #fafafa;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 16px;
}
#location-select-list {
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0.7px 0.7px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    max-height: 220px;
    overflow: auto;
}
#location-select-list li.concise {
    padding: 10px;
}
#location-select-list li.concise:first-child {
    border-radius: 3px 3px 0px 0px;
}
.terms_condition_main {
    height: calc(100vh - 171px);
    overflow-y: auto;
}
.terms_condition_main p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
    text-align: justify;
}
.terms_condition .terms_lists h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #38373d;
}
.term_condition {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #005ecc;
    background-color: transparent;
    text-transform: lowercase;
}
.agree_button a {
    background: #f33e3e;
    box-shadow: 1px 1px 4px rgba(143, 113, 100, 0.35),
        inset 2.5px -2.5px 2px rgba(134, 62, 32, 0.15);
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
}
.close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
}
.border-popup {
    width: 40px;
    height: 5px;
    background: #f3f3f3;
    margin: 12px auto 0;
    visibility: hidden !important;
}
.border_radius_10 {
    border-radius: 10px;
}
.menu-dropdown-link:before {
    content: none;
}
.menu-item-dropdown .menu-item-content:after {
    opacity: 0;
}
.text-color-dark-orange {
    color: #fc4b1a !important;
}
.nav-bar {
    border-radius: 8px 8px 0px 0px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 99999;
    position: relative;
    background-color: #38373d !important;
}
.navbar-menu {
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 56px;
}
.font-18 {
    font-size: 18px;
}
.font-25 {
    font-size: 25px;
}
.close-countdown {
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    border-radius: 50%;
    padding: 5px !important;
}
.menu-dropdown-center:before,
.menu-dropdown-center:after,
.dialog-inner:after,
.menu-dropdown-link:before {
    content: none !important;
}
.menu-dropdown .card.menu-dropdown-content .menu-dropdown-link {
    padding: 6px;
}
.menu-dropdown
    .card.menu-dropdown-content
    .menu-dropdown-link:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}
.language-list.menu-dropdown-link.active {
    background: #f33e3e !important;
    color: #fff !important;
}
.bg-color-transparent {
    background-color: transparent !important;
}
.menu-dropdown-content {
    top: 0 !important;
    left: 66% !important;
    z-index: 999;
    min-width: calc(100% + 24px) !important;
}
.registration-text {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
}
.registranstion {
    color: #394c65;
}
.list .item-inner:after {
    content: none !important;
}
.list input[type="text"],
.list input[type="password"],
.list input[type="search"],
.list input[type="email"],
.list input[type="tel"],
.list input[type="url"],
.list input[type="date"],
.list input[type="month"],
.list input[type="datetime-local"],
.list input[type="time"],
.list input[type="number"],
.list select {
    background: #fafafa !important;
    border-radius: 10px !important;
    height: 40px;
}
.text-underline {
    text-decoration: underline;
}
.register-text {
    margin-top: 20px;
}
.countdown_section {
    background: #f88f721a;
    box-shadow: 0px 1px 9px #f88f721a;
    border-radius: 7px;
    padding: 18px;
    position: relative;
}
.text-color-Blue {
    color: #3083ff !important;
}
.text-transform-capitalize {
    text-transform: capitalize;
}
.register-from {
    height: calc(100vh - 174px);
    overflow-y: auto;
}
.item-checkbox .item-inner {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #555555;
}
label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox {
    background-color: #f33e3e;
    border-color: #f33e3e;
}
.icon-checkbox,
.checkbox i {
    border-radius: 3px;
}
.md .item-input:not(.item-input-outline) .item-input-wrap::after,
.md .input:not(.input-outline)::after {
    background-color: transparent !important;
}
.disable-floor-list {
    color: #999999;
    background-color: #dcdcdc !important;
}
@media screen and (max-width: 380px) {
    .item-inner {
        padding-left: 0 !important;
    }
    .list .item-title {
        font-size: 12px;
    }
    .term_condition {
        font-size: 12px;
    }
}
@media screen and (max-width: 330px) {
    .list .item-title {
        font-size: 10px;
    }
    .term_condition {
        font-size: 11px;
    }
}
@media screen and (max-width: 310px) {
    .list .item-title {
        font-size: 9px;
    }
    .term_condition {
        font-size: 9px;
    }
}
/* Global */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield !important;
}
.font-20 {
    font-size: 20px;
}
.menu-dropdown-link.active,
.menu-dropdown-link.active-state,
.menu-dropdown-link:focus,
.menu-dropdown-link:hover {
    background: #fff !important;
}
.notification-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize !important;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.notification-title img {
    margin-right: 8px;
}
.notification.success--notification .notification-title {
    color: #0fc963;
}
.notification.error--notification .notification-title {
    color: #ff6161;
}
.notification.success--notification.modal-in {
    background: linear-gradient(
        90deg,
        #91f4be 0%,
        rgb(252 253 252) 100%,
        rgb(145 244 190 / 54%) 100%
    );
    border-radius: 10px;
}
.notification.error--notification.modal-in {
    background: linear-gradient(
        90deg,
        #ffbbbb 0%,
        rgb(252 253 252) 100%,
        rgba(255, 187, 187, 0.9) 100%
    );
    border-radius: 10px;
}
.notification-header {
    justify-content: space-between !important;
}
.swiper-pagination-bullet-active {
    background: #fc4b1a !important;
}
.dialog-inner:after {
    content: none !important;
}
.dialog-button {
    margin: 0 5px !important;
    border-radius: var(--f7-dialog-border-radius) !important;
}
.dialog-buttons {
    margin: 0 5px 15px;
}
.register-button:hover,
.register-button:active,
.active {
    background: #f33e3e !important;
    color: #fff !important;
}
.check-time-wait {
    color: #f33e3e !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.font-13 {
    font-size: 13px !important;
}
.font-18 {
    font-size: 18px !important;
}
.font-16 {
    font-size: 16px !important;
}
.font-30 {
    font-size: 30px;
}
.dialog-title {
    display: flex;
    justify-content: center;
}
.md .dialog-buttons {
    justify-content: center !important;
}
.md .dialog-button {
    width: 100%;
    border-radius: 10px;
}
.md .dialog-title + .dialog-text {
    margin-top: 5px;
}
.dialog {
    border-radius: 10px !important;
}
label.item-checkbox.active-state {
    background: none !important;
}
.ripple-wave {
    display: none;
    height: 0px !important;
}
/* Menu Vue Scoped Css */
.border-popup {
    width: 40px;
    height: 5px;
    background: #f3f3f3;
    margin: 12px auto 0;
    visibility: hidden !important;
}
.close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
}
.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: block;
    background: #fff;
    color: #000;
    padding-right: 15px;
}
.slide-active .menu-image {
    background: #f33e3e59;
    box-shadow: 0px 1px 3px rgba(255, 127, 87, 0.7);
    border-radius: 7px;
}
.menu-image {
    box-sizing: border-box;
    background: #faf5f2;
    border-radius: 7px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.position-relative {
    position: relative;
}
.menu-title,
.menu-list-title {
    text-align: center;
    font-size: 18px;
    padding: 0 10px;
}
.menu-title::before {
    position: absolute;
    content: "";
    border: 1px dashed #000;
    left: 0;
    width: 100%;
    height: 0px;
    top: 11px;
    z-index: -1;
}
.add-fav-list i {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
}
.dots {
    flex: 1;
    border-bottom: 2px dotted #000;
    height: 1em;
}
.swiper-slide {
    width: 67px;
    height: 67px;
}
.menu-lists {
    height: calc(100vh - 430px);
    overflow-y: scroll;
}
.no_order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 110px);
}
.no_order_text p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #38373d;
}
.search__img img {
    width: 100%;
    max-height: 320px;
    height: 100%;
    object-fit: cover;
}
/* NEW CSS */
.page-content {
    background-color: #ffffff !important;
}
.block-title {
    text-align: center;
    margin: 5px 0 20px;
    color: #38373d;
}
.title-text {
    margin: 0 auto 20px !important;
    max-width: 196px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #38373d;
    text-align: center;
}
.swiper {
    margin: 0 0 46px;
    padding: 10px 5px 0;
}

.swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.swiper-wrapper .swiper-slide:first-child .menu-image {
    margin: 0 5px;
}
.swiper-wrapper .swiper-slide .menu-image {
    padding: 12px 0;
}
.swiper-wrapper .swiper-slide .menu-image img {
    width: 35px;
    height: 35px;
}
.swiper-wrapper .swiper-slide p {
    text-wrap: nowrap !important;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #555555;
}
.slide-active {
    max-width: 78px;
    width: 100%;
    max-height: 89px;
}
.slide-active p {
    font-weight: 500 !important;
}
.menu-title {
    text-align: center;
}
.menu-title::before {
    border: 1px dashed rgba(85, 85, 85, 0.4);
    top: 50%;
    transform: translate(0, -50%);
}
.menu-title span {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #38373d;
    background: #ffffff;
    padding: 0 10px;
}
.menu-details {
    margin-top: 25px;
}
.menu-details .menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-details .menu-list-title {
    text-align: left;
    padding: 0;
    margin: 0;
}
.faq-heading {
    padding-right: 15px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #38373d;
    border-bottom: 1px dashed rgba(85, 85, 85, 0.4);
}

.faq-list {
    margin: 20px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.faq {
    width: 100%;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
    position: relative;
}
.faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-bottom: 25px;
}
.faq input[type="checkbox"] {
    display: none;
}

.faq .faq-arrow {
    width: 7px;
    height: 7px;
    border-top: 0.5px solid #38373D;
    border-right: 0.5px solid #38373D;
    float: right;
    position: absolute;
    top: 12px;
    right: 5px;
    transform: rotate(-45deg);
    translate: 0 -50%;
}

.faq input[type="checkbox"]:checked + label > .faq-arrow {
    transform: rotate(135deg);
    top: 8px;
}
.faq input[type="checkbox"]:checked + label + .faq-banner {
    display: block;
}
.faq input[type="checkbox"]:not(:checked) + label + .faq-banner {
    display: none;
}
.faq-list .product{
    width: calc(100% - 5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq-list .product-detail-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.faq-list .product .product-img img{
    width: 40px;
    height: 40px;
}
.faq-list .product .product-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}
.faq-list .product .product-detail .product-name{
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #38373D;
}
.faq-list .product .product-detail .product-price{
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #F33E3E;
}