.orders_admin_page {
    background-color: #f4f4f4;
    padding: 25px 30px;
}
.orders_admin_page .orders_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.orders_admin_page .orders_header h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #38373d;
}
.orders_admin_page .order_info {
    box-shadow: 0px 1px 15px 0px #3333330d;
    border-radius: 10px;
    /* display: block; */
    overflow: hidden;
}
.orders_admin_page .order_info .table_search_filter {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.orders_admin_page .order_info .table_search_filter .search_bar_left {
    max-width: 820px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.orders_admin_page .order_info .table_search_filter .search_bar {
    max-width: 350px;
    border-radius: 5px;
}
.orders_admin_page .order_info .table_search_filter .search_bar .searchbar {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #ffffff !important;
    width: 100%;
    max-height: 45px;
    border-radius: 5px !important;
    box-shadow: none;
}
.orders_admin_page
    .order_info
    .table_search_filter
    .search_bar
    .searchbar
    input {
    padding: 12px 45px 12px 40px;
    width: 350px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #555555;
    border-radius: 5px;
}
.orders_admin_page
    .order_info
    .table_search_filter
    .search_bar
    .searchbar
    input::placeholder {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #555555;
}
.orders_admin_page
    .order_info
    .table_search_filter
    .search_bar
    .searchbar
    .searchbar-icon::after {
    color: #555555 !important;
}
.orders_admin_page
    .order_info
    .table_search_filter
    .search_bar
    .searchbar
    .input-clear-button {
    width: 45px;
    height: 45px;
    color: #555555;
}
.orders_admin_page .order_info .table_search_filter .search_bar_left select {
    padding: 13px 15px;
    border: 1px solid #555555;
    border-radius: 5px;
    max-width: 220px;
    width: 100%;
}
.orders_admin_page .order_info .table_search_filter select {
    position: relative;
}
.orders_admin_page .order_info .table_search_filter select::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    border-top: 4px solid #555555;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    top: 0;
    right: 0;
}
.orders_admin_page .order_info .table_search_filter .filter_table {
    padding: 10px 35px;
    border: 1px solid #555555;
    border-radius: 5px;
    color: #555555;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 140px;
    background-color: #ffffff;
    box-shadow: 0px 1px 15px 0px #3333330d;
}
.orders_admin_page .order_info .table_search_filter .filter_table h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
}
.orders_admin_page .order_info .order_table_wrapper {
    overflow-x: scroll;
    border-bottom: 3px solid #999999;
    scrollbar-width: 3px;
}
.orders_admin_page .order_info .order_table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    min-width: 1380px;
}
.orders_admin_page .order_info .order_table thead th {
    padding: 17px 20px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: #555555;
}
.orders_admin_page .order_info .order_table tbody td {
    padding: 15px 20px;
    background-color: #ffffff;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #38373d;
}
.orders_admin_page .order_info .order_table thead {
    border: none;
    border-top: 0.5px solid rgba(153, 153, 153, 0.25);
    border-bottom: 0.5px solid rgba(153, 153, 153, 0.25);
    background-color: #f4f4f4;
}
.orders_admin_page .order_info .order_table .customer-detail {
    display: flex;
    align-items: center;
    gap: 10px;
}
.orders_admin_page .order_info table tbody tr:nth-child(odd) td {
    background-color: #ffffff;
}
.orders_admin_page .order_info table tbody tr:nth-child(even) td {
    background-color: #fafafa;
}
.orders_admin_page .order_info .order_table tbody td:nth-child(3) {
    color: #f33e3e;
}
.orders_admin_page .order_info .order_table .order_status {
    max-width: calc(100px - 18px);
    border-radius: 5px;
    padding: 5px 18px;
    text-align: center;
}
.orders_admin_page .order_info .order_table .cancelled_status {
    background-color: #ffe9e9;
    color: #ae4444;
}
.orders_admin_page .order_info .order_table .processing_status {
    background-color: #fff9e3;
    color: #9b804b;
}
.orders_admin_page .order_info .order_table .completed_status {
    background-color: #e9fbe7;
    color: #3d833c;
}
.orders_admin_page .order_info .order_table tbody td:last-child {
    text-align: center;
}
.orders_admin_page .order_info .order_table thead th,
.orders_admin_page .order_info .order_table tbody td {
    text-wrap: nowrap;
}
.orders_admin_page .order_info .pagination_wrapper {
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #ffffff;
}
.orders_admin_page .order_info .pagination_wrapper p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #878a99;
}
.orders_admin_page .order_info .pagination_wrapper .pagination a {
    float: left;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #878a99;
}
.orders_admin_page .order_info .pagination_wrapper .pagination a.active {
    background-color: #f33e3e;
    color: #ffffff;
    border-radius: 5px;
}
.orders_admin_page
    .order_info
    .pagination_wrapper
    .pagination
    a:hover:not(.active) {
    background-color: #f33e3e;
    color: #ffffff;
    border-radius: 5px;
}
/* ORDERS DETAIL PAGE */
.orders_datail_admin_page {
    padding: 25px 30px 70px;
    background-color: #fbfbfb;
}
.orders_datail_admin_page .orders_datail_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 25px;
}
.orders_datail_admin_page .orders_datail_header h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #38373d;
}
.orders_datail_admin_page .orders_datail_header .f7-link {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #555555;
}
.orders_datail_admin_page .orders_datail_header .breadcrumbs-item-active {
    font-weight: 500;
    color: #38373d;
}
.orders_datail_admin_page .customer_order_detail_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orders_datail_admin_page .customer_order_detail_cards .card_header {
    padding: 20px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.15);
}
.orders_datail_admin_page .customer_order_detail_cards h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #38373d;
}
.orders_datail_admin_page .customer_detail_card {
    max-width: 42.86%;
    width: 100%;
    box-shadow: 0px 1px 15px 0px #3333330d;
    background-color: #ffffff;
    border-radius: 10px;
}
.orders_datail_admin_page .order_detail_card {
    max-width: 53.57%;
    width: 100%;
    box-shadow: 0px 1px 15px 0px #3333330d;
    background-color: #ffffff;
    border-radius: 10px;
}
.orders_datail_admin_page .customer_detail_card .customer_info {
    padding: 20px 20px 35px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.orders_datail_admin_page .customer_detail_card .customer_info .customer_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}
.orders_datail_admin_page
    .customer_detail_card
    .customer_info
    .customer_name
    p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #999999;
}
.orders_datail_admin_page .customer_detail_card .customer_contact_info {
    padding: 0 20px 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.orders_datail_admin_page .customer_detail_card .customer_phone,
.orders_datail_admin_page .customer_detail_card .customer_email {
    display: flex;
    align-items: baseline;
    gap: 20px;
}
.orders_datail_admin_page .customer_detail_card .customer_phone a,
.orders_datail_admin_page .customer_detail_card .customer_email a {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #38373d;
}
.orders_datail_admin_page .order_detail_card .specific_order_detail {
    padding: 20px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.orders_datail_admin_page
    .order_detail_card
    .specific_order_detail
    .seeking_detail {
    display: flex;
}
.orders_datail_admin_page
    .order_detail_card
    .specific_order_detail
    .seeking_detail
    h4:first-child {
    max-width: 46.43%;
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #38373d;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.orders_datail_admin_page
    .order_detail_card
    .specific_order_detail
    .seeking_detail
    h4:last-child {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #38373d;
}
.orders_datail_admin_page
    .order_detail_card
    .specific_order_detail
    .seeking_detail
    .status_indicator {
    padding: 5px 19px;
    border-radius: 5px;
    background-color: #fff9e3;
}
.orders_datail_admin_page
    .order_detail_card
    .specific_order_detail
    .seeking_detail
    .status_indicator
    p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #9b804b;
}
.orders_datail_admin_page .customer_order_history {
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 0px #3333330d;
    padding-bottom: 145px;
    position: relative;
}
.orders_datail_admin_page .customer_order_history .order-header {
    border-bottom: 1px dashed rgba(153, 153, 153, 0.3);
    padding: 20px;
    margin-bottom: 20px;
}
.orders_datail_admin_page .customer_order_history .order-header h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #38373d;
}
.orders_datail_admin_page .customer_order_history .order-table_wrapper{
    overflow-x: scroll;
    scrollbar-width: none;
} 
.orders_datail_admin_page .customer_order_history table {
    border-collapse: collapse;
    min-width: 1380px;
    width: 100%;
    margin-bottom: 35px;
}
.orders_datail_admin_page .customer_order_history table thead th {
    background-color: #f4f4f4;
    padding: 17px 20px;
    text-wrap: nowrap;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600 !important;
    color: #555555;
}
.orders_datail_admin_page .customer_order_history table thead tr {
    border-top: 1px solid rgba(153, 153, 153, 0.25);
    border-bottom: 1px solid rgba(153, 153, 153, 0.25);
}
.orders_datail_admin_page .customer_order_history table tbody td {
    padding: 15px 20px;
    text-wrap: nowrap;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400 !important;
    color: #38373d;
}
.orders_datail_admin_page .customer_order_history table tbody tr {
    border-bottom: 1px solid rgba(153, 153, 153, 0.15);
}
.orders_datail_admin_page .customer_order_history table tr .product-detail {
    display: flex;
    align-items: center;
    gap: 15px;
}
.orders_datail_admin_page
    .customer_order_history
    table
    .product-detail
    .product-img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.orders_datail_admin_page
    .customer_order_history
    table
    .payment_status
    .status_heading {
    margin-bottom: 10px;
}
.orders_datail_admin_page
    .customer_order_history
    table
    .payment_status
    .pay_approve_btn {
    padding: 6px 26px;
    background-color: #f33e3e;
    border: none;
    border-radius: 5px;
    max-width: 100px;
}
.orders_datail_admin_page .customer_order_history table .payment_status p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400 !important;
    color: #ffffff;
}
.orders_datail_admin_page .customer_order_history table thead tr th:last-child {
    text-align: center;
}
.orders_datail_admin_page
    .customer_order_history
    table
    tbody
    tr
    td:last-child.order_action {
    text-align: center;
}
.orders_datail_admin_page
    .customer_order_history
    table
    .order_shipment_detail
    .order_detail_heading {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #38373d;
    margin-bottom: 10px;
}
.orders_datail_admin_page
    .customer_order_history
    table
    .order_shipment_detail
    .shipment_status {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #38373d;
}
.orders_datail_admin_page .customer_order_history .total_payable {
    max-width: 417px;
    width: 100%;
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.orders_datail_admin_page .customer_order_history .total_payable .subtotal {
    margin-bottom: 18px;
}
.orders_datail_admin_page .customer_order_history .total_payable .subtotal,
.orders_datail_admin_page .customer_order_history .total_payable .vat,
.orders_datail_admin_page .customer_order_history .total_payable .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
    color: #38373d;
}
.orders_datail_admin_page
    .customer_order_history
    .total_payable
    .subtotal
    h4:first-child,
.orders_datail_admin_page
    .customer_order_history
    .total_payable
    .vat
    h4:first-child {
    line-height: 19px;
    font-weight: 500;
}
.orders_datail_admin_page
    .customer_order_history
    .total_payable
    .subtotal
    h4:last-child,
.orders_datail_admin_page
    .customer_order_history
    .total_payable
    .vat
    h4:last-child {
    line-height: 19px;
    font-weight: 400;
}
.orders_datail_admin_page .customer_order_history .total_payable .total h4 {
    line-height: 22px;
    font-weight: 600;
}
.orders_datail_admin_page .customer_order_history .total_payable hr.divider {
    border: none;
    border-bottom: 1px dashed rgba(153, 153, 153, 0.3);
    margin: 20px 0 !important;
}
.order_delete_popup,
.order_remove_popup {
    max-width: 510px;
    width: 100% !important;
    padding: 20px 75px 45px;
    text-align: center;
    border-radius: 20px !important;
}
.order_delete_popup img,
.order_remove_popup img {
    margin-bottom: 10px;
}
.order_delete_popup h3,
.order_remove_popup h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 12px !important;
}
.order_delete_popup p,
.order_remove_popup p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #999999;
}
.order_delete_popup .action-btn,
.order_remove_popup .action-btn {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order_delete_popup .action-btn .cancel_btn,
.order_remove_popup .action-btn .cancel_btn {
    padding: 12px 55px;
    background-color: #ffffff;
    color: #f33e3e;
    border: none;
    border-radius: 10px;
    box-shadow: 0px -1px 4px 0px #a6a6a60d;
    box-shadow: 0px 1.5px 5px 0px #a6a6a666;
    max-width: 170px;
}
.order_delete_popup .action-btn span,
.order_remove_popup .action-btn span {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-wrap: nowrap;
}
.order_delete_popup .action-btn .delete_btn,
.order_remove_popup .action-btn .remove_btn {
    padding: 12px 25px;
    background-color: #f33e3e;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0px #8f716459;
    box-shadow: 2.5px -2.5px 2px 0px #863e2026 inset;
    max-width: 170px;
}