.pos-page{
    margin-top: 60px;
}
.product-section{
    width: 65%;
    background-color: #f4f4f4;
}
.add-to-cart{
    box-shadow: -1px 1px 15px 0px #3333330D;
    width: 35%;
    background: #FFFFFF;
}
.category-slider-content{
    width: 90%;
}

.register-button:hover, .register-button:active, .active {
    background: #F33E3E !important;
    color: #fff !important;
}
.category-search{
    background: #FBFBFB;
    box-shadow: 0px 1px 3px 0px #00000026;
}
.demo-swiper-multiple{
   height: 75px;
   width: 85%;
}
.demo-swiper .swiper-slide, .demo-swiper-multiple .swiper-slide{
    justify-content: flex-start;
}
.swiper-button-prev, .swiper-button-next{
    color: #38373D;
    background: #FFFFFF;
    width: 52px;
    height: 52px;
    text-align: center;
    border-radius: 50%;
    top: 45%;
    box-shadow: 0px 1px 3px 0px #00000026;
}
.demo-swiper-multiple .swiper-slide{
    border:none;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 18px;
    font-weight: 600;
}
.demo-swiper .swiper-slide, .demo-swiper-multiple .swiper-slide{
    background: #FFFFFF;
    border-radius: 40px;
    height: 53px;
    padding: 0 5px;
    box-shadow: 0px 1px 5px 0px #0000001A;
    position: relative;

}
.demo-swiper .swiper-slide.active, .demo-swiper-multiple .swiper-slide.active{
    border : 1px solid #F33E3E;
    background-color: #FFF0F0 !important;
}
.category-image-slider{
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 50%;
}
.demo-swiper .swiper-slide.active .category-image-slider, .demo-swiper-multiple .swiper-slide.active .category-image-slider{
    background-color: #FFFFFF;
}
.slider-category-name{
    font-size: 15px;
    font-weight: 600;
    color: #38373D;
}

/* .demo-swiper .swiper-slide.active .slider-category-name, .demo-swiper-multiple .swiper-slide.active .slider-category-name{
    color: #F33E3E;
} */

.swiper-wrapper{
    display: flex;
    align-items: center;
}

.category-item{
    position: absolute;
    font-size: 13px;
    bottom: -11px;
    background-color: #F33E3E;
    color: #fff;
    left: 44%;
    padding: 1px 8px;
    border-radius: 10px;
}

.search-content{
    width: 10%;
}

.text-red{
    color: #F33E3E;
}

.page-content{
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.text-underline{
    text-decoration: underline;
}
.data-table thead th:not(.sortable-cell-active), .data-table thead td:not(.sortable-cell-active){
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #555555;
    background-color: #F4F4F4;
}
.icon-checkbox, .checkbox i{
    border-radius: 3px !important;
}
label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox{
    background-color: #F33E3E;
    border-color: #F33E3E;
  }
.data-table tbody td::before, .data-table tbody th::before {
	background-color: transparent !important;
}
.card-content .data-table td{
	padding-top: 12px;
	padding-bottom: 12px;
	white-space: nowrap;
}
.data-table tbody tr:nth-child(even) {
	background-color: #FAFAFA;
}
.height_100{
    height: 100%;
}
#select-concise {
    background-color: #fafafa;
    border-radius: 10px;
    width: 97%;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;
}
#location-select-list {
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0.7px 0.7px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    max-height: 220px;
    overflow: auto;
}
#location-select-list li.concise {
    padding: 10px;
}
#location-select-list li.concise:first-child {
    border-radius: 3px 3px 0px 0px;
}
.list ul:after {
    content: '';
    position: absolute;
    background-color: var(--f7-list-border-color);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}
.list ul:before {
    content: '';
    position: absolute;
    background-color: var(--f7-list-border-color);
    display: block;
    z-index: 15;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 0%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}
.text-gray{
    color: #999999;
}
@media screen and (max-width:991px) {
    .product-list-section .toolbar-inner a.tab-link{
        font-size: 14px;
    }
}