.pos-page{
    margin-top: 60px;
}
.pos-page-content{
    background-color: #FBFBFB;
}
.product-section{
    width: 65%;
    background-color: #f4f4f4;
}
.add-to-cart{
    box-shadow: -1px 1px 15px 0px #3333330D;
    width: 35%;
    background: #FFFFFF;
    position: relative;
}
.category-slider-content{
    width: 90%;
}

.register-button:hover, .register-button:active, .active {
    background: #F33E3E !important;
    color: #fff !important;
}
.category-search{
    background: #FBFBFB;
    box-shadow: 0px 1.5px 3px 0px #00000026;
    position: relative;
    z-index: 1;
}
.demo-swiper-multiple{
    height: 75px;
    width: 85%;
}
.demo-swiper .swiper-slide, .demo-swiper-multiple .swiper-slide{
    justify-content: flex-start;
}
.swiper-button-prev, .swiper-button-next{
    color: #38373D;
    background: #FFFFFF;
    width: 52px;
    height: 52px;
    text-align: center;
    border-radius: 50%;
    top: 45%;
    box-shadow: 0px 1px 3px 0px #00000026;
}
.demo-swiper-multiple .swiper-slide{
    border:none;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 18px;
    font-weight: 600;
}
.demo-swiper .swiper-slide, .demo-swiper-multiple .swiper-slide{
    background: #FFFFFF;
    border-radius: 40px;
    height: 53px;
    padding: 0 5px;
    box-shadow: 0px 1px 5px 0px #0000001A;
    position: relative;

}
.demo-swiper .swiper-slide.active, .demo-swiper-multiple .swiper-slide.active{
    border : 1px solid #F33E3E;
    background-color: #FFF0F0 !important;
}
.demo-swiper .swiper-slide.active .slider-category-name, .demo-swiper-multiple .swiper-slide.active .slider-category-name{
    color : #F33E3E;
}
.category-image-slider{
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 50%;
}
.demo-swiper .swiper-slide.active .category-image-slider, .demo-swiper-multiple .swiper-slide.active .category-image-slider{
    background-color: #FFFFFF;
}
.slider-category-name{
    font-size: 15px;
    font-weight: 600;
    color: #38373D;
}

/* .demo-swiper .swiper-slide.active .slider-category-name, .demo-swiper-multiple .swiper-slide.active .slider-category-name{
    color: #F33E3E;
} */

.swiper-wrapper{
    display: flex;
    align-items: center;
}

.category-item{
    position: absolute;
    font-size: 13px;
    bottom: -11px;
    background-color: #F33E3E;
    color: #fff;
    left: 44%;
    padding: 1px 8px;
    border-radius: 10px;
}

.search-content{
    width: 10%;
}

.text-red{
    color: #F33E3E;
}

.page-content{
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.text-underline{
    text-decoration: underline;
}
.data-table thead th:not(.sortable-cell-active), .data-table thead td:not(.sortable-cell-active){
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #555555;
    background-color: #F4F4F4;
}
.icon-checkbox, .checkbox i{
    border-radius: 3px !important;
}
label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox{
    background-color: #F33E3E;
    border-color: #F33E3E;
}
.data-table tbody td::before, .data-table tbody th::before {
	background-color: transparent !important;
}
.card-content .data-table td{
	padding-top: 12px;
	padding-bottom: 12px;
	white-space: nowrap;
}
.data-table tbody tr:nth-child(even) {
	background-color: #FAFAFA;
}
.height_100{
    height: 100%;
}
#select-concise {
    background-color: #fafafa;
    border-radius: 10px;
    width: 97%;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;
}
#location-select-list {
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0.7px 0.7px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    max-height: 220px;
    overflow: auto;
}
#location-select-list li.concise {
    padding: 10px;
}
#location-select-list li.concise:first-child {
    border-radius: 3px 3px 0px 0px;
}
.list ul:after {
    content: '';
    position: absolute;
    background-color: var(--f7-list-border-color);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}
.list ul:before {
    content: '';
    position: absolute;
    background-color: var(--f7-list-border-color);
    display: block;
    z-index: 15;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 0%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}
.text-gray{
    color: #999999;
}

.category-image-slider img {
    width: 100%;
    height: 100%;
    max-width: 33px;
    max-height: 33px;
}
.product_search{
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
}
.w-100{
    width: 100%;
}
.pos-product-section{
    background-color: #FBFBFB;
    overflow: auto;
    height: 80dvh !important;
}
.grid{
    display: grid;
}
.pos-product-section .card{
    border-radius: 6px;
}
.pos-product-section .food-category{
    position: absolute;
    right: 13px;
}
.pos-product-section .product-summary .product_name,.pos-product-section .product-summary .product_price{
    font-size: 15px;
    font-weight: 500;
}
.pos-product-section .product-summary .product_name{
    color: #38373D;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    line-height: 1.5;
}
.pos-product-section .card-content-padding{
    padding : 20px 25px;
}
.pos-product-section .btn-add-product{
    border: 1px solid #F33E3E;
    color: #F33E3E;
}
.add-to-cart-section.order-summary{
    box-shadow: 0px 2px 8px 0px #2222220F;
}
.add-to-cart-section .order_number{
    font-weight: 500;
    color: #38373D;
}

.add-to-cart-section .table_number{
    font-weight: 500;
    color: #555555;
}
.add-to-cart-section .food-received-type{
    color: #999999;
    background-color: #F4F4F4;
    font-size: 13px;
    font-weight: 500;
}
.add-to-cart .cart-products{
    overflow: auto;
    height: 77dvh;
}
.add-to-cart .cart-products .product_detail{
    border-bottom: 0.5px solid #E0E0E0;
}
.add-to-cart .cart-products .product_detail:last-child{
    border: 0;
}
.add-to-cart .cart-products .delete-product{
    width: 10%;
}
.add-to-cart .cart-products .product-summary{
    width: 55%;
}
.add-to-cart .cart-products .product-summary p{
    font-size: 14px;
    font-weight: 500;
    color: #38373D;
}
.add-to-cart .cart-products .quantity-section{
    width: 25%;
}
.add-to-cart .cart-products .product-note-content{
    width: 10%;
}
.add-to-cart .cart-products .delete-product-button{
    background-color: #F33E3E;
    color: #fff;
    border-radius: 50%;
    padding : 4px;
}
.add-to-cart .cart-products .quantity-content{
    box-shadow: 0px 1px 3px 0px #00000026;
}
.add-to-cart .cart-products .product-note-content .product-note{
    background: #FFF0F0;
    padding: 10px;
    display: block;
    border-radius: 5px;
}
.add-to-cart .cart-products .slider-category-name{
    font-size: 15px;
    font-weight: 600;
    color: #38373D;
}
.add-to-cart .cart-products .quantity-count, .add-to-cart .cart-products .quantity-minus, .add-to-cart .cart-products .quantity-plus{
    width: 33.33%;
}
.add-to-cart .cart-products .quantity-count{
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
}
.simple-list li:after, .links-list a:after, .list .item-inner:after{
    content: none;
}
.md .item-input:not(.item-input-outline) .item-input-wrap:after, .md .input:not(.input-outline):after{
    content: none;
}
.popup_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #38373D;
}
.popup-content {
    border-top: 1px solid #D8D8D8;
}
input[type='text'], input[type='password'], input[type='email'], input[type='tel'], input[type='url'], input[type='date'], input[type='month'], input[type='datetime-local'], input[type='time'], input[type='number'], select, textarea{
    background-color: #F5F5F5;
    font-size: 15px;
    font-weight: 500;
    color: #555555;
    padding: 12px 16px;
    border-radius: 8px;
}
@media screen and (max-width:991px) {
    .product-list-section .toolbar-inner a.tab-link{
        font-size: 14px;
    }
}