
/* setting */
.setting-tabs{
    margin-top: 56px;
}
.setting-tabs .tabs{
    width: 70%;
}
.setting-tabs .toolbar{
    width: 30%;
    background: white;
    border-right: 1px solid #E0E0E0;
    position: unset;
    height: auto;
}
.setting-tabs .toolbar-inner .tab-link p{
    display: flex;
    justify-content: start;
    font-size: 16px;
    color: #555555;
    font-weight: 500;
    padding: 0 25px;
}
.setting-tabs .toolbar-inner{
    background: #ffffff;
    flex-direction: column;
    height: auto;
    padding: 0;
}
.setting-tabs .vertical-setting-tabs .toolbar-inner .tab-link.tab-link-active{
    background: #FFF0F0;
    color: #F33E3E;
}

.setting-tabs .toolbar-inner .tab-link.tab-link-active p{
    color: #F33E3E;
}

.setting-tabs .toolbar-inner .tab-link-highlight{
    display: none;
}
.setting-tabs .vertical-setting-tabs .toolbar-inner .tab-link.tab-link-active:after{
    content: '';
    position: absolute;
    background-color: #F33E3E;
    display: block;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    height: 100%;
    width: 5px;
}
.setting-tabs .setting_tab_card{
    display: flex;
}
.tabbar-labels .tab-link, .tabbar .link, .tabbar-labels .link{
    padding: 10px;
}
.setting-tabs .general_info_form, .setting-tabs .currency_form, .setting-tabs .taxsetting_form{
    margin-top: 34px;
}
.setting-tabs .block-title{
    font-weight: 600;
    font-size: 16px;
    color: #555555;
    margin-left: 0px !important;
    overflow: unset;
}

.setting-tabs .list input[type='text'], .list input[type='password'], .list input[type='search'], .list input[type='email'], .list input[type='tel'], .list input[type='url'], .list input[type='date'], .list input[type='month'], .list input[type='datetime-local'], .list input[type='time'], .list input[type='number'], .list select{
    background-color: #FAFAFA;
    border: 1px solid #000;
    border-radius: 10px;
}
.setting-tabs .general_info_form .list input[type='file']{
    opacity: 0;
}
.setting-tabs .general_info_form .list .image-field label{
    border-radius: 6px;
    height: 100%;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.setting-tabs .general_info_form .list .image-field label div.image-label{
    width: 100%;
    height: 100%;
    border: 1px solid #F33E3E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F33E3E;
}
.setting-tabs .general_info_form .list .image-field label div.image-label div.image-label-text{
    width: 90%;
}
.setting-tabs .general_info_form .list .image-field label div.image-label button.image-label-remove{
    width: 10%;
    height: 100%;
    border-left: 1px solid #F33E3E;
    border-radius: 0 5px 5px 0;
    background-color: #FFF0F0;
}
.setting-tabs .form-submit{
    margin-top: 60px;
}
.setting-tabs .form-submit button{
    font-size: 18px;
    width: 170px;
    height: 45px;
}

.setting-tabs .tabbar .tab-link, .tabbar-labels .tab-link, .tabbar .link, .tabbar-labels .link{
    justify-content: flex-start;
    align-items: flex-start;
}
.setting-tabs .general_info_form .image-logo{
    background-color: #F5F5F5;
    border-radius: 10px;
    width: 100%;
    height: 120px;
    text-align: center;
}
.setting-tabs .general_info_form .image-logo img{
    height: 100%;
    text-align: center;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.setting-tabs .currency_form{
    height: 75dvh;
    position: relative;
}

.setting-tabs .currency_form form{
    height: 100%;
}

.setting-tabs .currency_form .form-submit{
    position: absolute;
    bottom: 20px;
    right: 0px;
}
.setting-tabs .taxsetting_form .type_charge, .setting-tabs .taxsetting_form .active_status{
    accent-color: #555555;
    color: #555555;
}
.setting-tabs .item-input .item-inner{
    padding-right: 0;
}

.setting-tabs .item-input .item-inner:nth-child(2){
    margin-left: 20px;
}

.setting-tabs .taxsetting_form .tax-divider{
    border : 1px dashed #DADADA;
    margin: 30px 0;
}

.setting-tabs .taxsetting_form .note_details{
    background-color: #FAFAFA;
    color: #555555;
    padding: 12px 18px;
    border-radius: 10px;
    box-sizing: border-box;
}

.edit_tax_button{
    border-right: 1px solid #E0E0E0;
}