
/* setting */
.setting-tabs{
    margin-top: 70px;
}
.setting-tabs .toolbar{
    width: 30%;
}
.setting-tabs .toolbar-inner .tab-link p{
    display: flex;
    justify-content: start;
    font-size: 16px;
    color: #555555;
    font-weight: 500;
    padding: 0 25px;
}
.setting-tabs .toolbar-inner{
    background: #ffffff;
    flex-direction: column;
    height: auto;
    padding: 0;
}
.setting-tabs .toolbar-inner .tab-link.tab-link-active{
    background: #FFF0F0;
    color: #F33E3E;
}

.setting-tabs .toolbar-inner .tab-link-highlight{
    display: none;
}
.setting-tabs .toolbar-inner .tab-link.tab-link-active:after{
    content: '';
    position: absolute;
    background-color: #F33E3E;
    display: block;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    height: 100%;
    width: 5px;
}
.setting-tabs .setting_tab_card{
    display: flex;
}
.tabbar-labels .tab-link, .tabbar .link, .tabbar-labels .link{
    padding: 10px;
}
.setting-tabs .general_info_form{
    margin-top: 34px;
}
.setting-tabs .general_info_form .block-title{
    font-weight: 600;
    font-size: 16px;
    color: #555555;
    margin-left: 0px !important;
}

.setting-tabs .general_info_form .list input[type='text'], .list input[type='password'], .list input[type='search'], .list input[type='email'], .list input[type='tel'], .list input[type='url'], .list input[type='date'], .list input[type='month'], .list input[type='datetime-local'], .list input[type='time'], .list input[type='number'], .list select{
    background-color: #FAFAFA;
    border: 1px solid #000;
    border-radius: 10px;
}
.setting-tabs .general_info_form .list input[type='file']{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: auto;
}
.setting-tabs .general_info_form .list .image-field label{
    position: relative;
    border: 1px dashed #e0e0e0;
    border-radius: 6px;
    height: 100%;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.setting-tabs .general_info_form .list .image-field label div.image-label{
    width: 100%;
    height: 100%;
    border: 1px solid #F33E3E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F33E3E;
}
.setting-tabs .general_info_form .list .image-field label div.image-label div.image-label-text{
    width: 90%;
}
.setting-tabs .general_info_form .list .image-field label div.image-label button.image-label-remove{
    width: 10%;
    height: 100%;
    border-left: 1px solid #F33E3E;
    border-radius: 0 5px 5px 0;
    background-color: #FFF0F0;
}
.setting-tabs .general_info_form .form-submit{
    margin-top: 60px;
}
.setting-tabs .general_info_form .form-submit button{
    font-size: 18px;
    width: 170px;
    height: 45px;
}

.setting-tabs .tabbar .tab-link, .tabbar-labels .tab-link, .tabbar .link, .tabbar-labels .link{
    justify-content: flex-start;
    align-items: flex-start;
}