/* setting */
.setting-tabs{
    margin-top: 56px;
}
.setting-tabs .tabs{
    width: 70%;
}
.setting-tabs .toolbar{
    width: 30%;
    background: white;
    border-right: 1px solid #E0E0E0;
    position: unset;
    height: auto;
}
.setting-tabs .toolbar-inner .tab-link p{
    display: flex;
    justify-content: start;
    font-size: 16px;
    color: #555555;
    font-weight: 500;
    padding: 0 25px;
}
.setting-tabs .toolbar-inner{
    background: #ffffff;
    flex-direction: column;
    height: auto;
    padding: 0;
}
.setting-tabs .vertical-setting-tabs .toolbar-inner .tab-link.tab-link-active{
    background: #FFF0F0;
    color: #F33E3E;
}

.setting-tabs .toolbar-inner .tab-link.tab-link-active p{
    color: #F33E3E;
}

.setting-tabs .toolbar-inner .tab-link-highlight{
    display: none;
}
.setting-tabs .vertical-setting-tabs .toolbar-inner .tab-link.tab-link-active:after{
    content: '';
    position: absolute;
    background-color: #F33E3E;
    display: block;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    height: 100%;
    width: 5px;
}
.setting-tabs .setting_tab_card{
    display: flex;
}
.tabbar-labels .tab-link, .tabbar .link, .tabbar-labels .link{
    padding: 10px;
}
.setting-tabs .general_info_form, .setting-tabs .currency_form, .setting-tabs .taxsetting_form{
    margin-top: 34px;
}

.setting-tabs .general_info_form select{
    border: none;
    padding: 13px 15px;
}

.setting-tabs .block-title{
    font-weight: 600;
    font-size: 16px;
    color: #555555;
    margin-left: 0px !important;
    overflow: unset;
}

.pagination_count .pagination_list a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 5px;
}

.setting-tabs .list input[type='text'], .list input[type='password'], .list input[type='search'], .list input[type='email'], .list input[type='tel'], .list input[type='url'], .list input[type='date'], .list input[type='month'], .list input[type='datetime-local'], .list input[type='time'], .list input[type='number'], .list select{
    background-color: #FAFAFA;
    border: 1px solid #000;
    border-radius: 10px;
}
.setting-tabs .general_info_form .list input[type='file']{
    opacity: 0;
}
.setting-tabs .general_info_form .list .image-field label{
    border-radius: 6px;
    height: 100%;
    min-height: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.setting-tabs .general_info_form .list .image-field label div.image-label{
    width: 100%;
    height: 100%;
    border: 1px solid #F33E3E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F33E3E;
}
.setting-tabs .general_info_form .list .image-field label div.image-label div.image-label-text{
    width: 88%;
}
.setting-tabs .general_info_form .list .image-field label div.image-label button.image-label-remove{
    width: 12%;
    height: 100%;
    border-left: 1px solid #F33E3E;
    border-radius: 0 5px 5px 0;
    background-color: #FFF0F0;
}
.setting-tabs .form-submit{
    margin-top: 60px;
}
.setting-tabs .form-submit button{
    font-size: 18px;
    width: 170px;
    height: 45px;
}

.setting-tabs .tabbar .tab-link, .tabbar-labels .tab-link, .tabbar .link, .tabbar-labels .link{
    justify-content: flex-start;
    align-items: flex-start;
}
.setting-tabs .general_info_form .image-logo{
    background-color: #F5F5F5;
    border-radius: 10px;
    width: 100%;
    height: 120px;
    text-align: center;
}
.setting-tabs .general_info_form .image-logo img{
    height: 100%;
    text-align: center;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.setting-tabs .currency_form{
    height: 75dvh;
    position: relative;
}

.setting-tabs .currency_form form{
    height: 100%;
}

.setting-tabs .currency_form .form-submit{
    position: absolute;
    bottom: 20px;
    right: 0px;
}
.setting-tabs .taxsetting_form .type_charge, .setting-tabs .taxsetting_form .active_status{
    accent-color: #555555;
    color: #555555;
}
.setting-tabs .item-input .item-inner{
    padding-right: 0;
}

.setting-tabs .item-input .item-inner:nth-child(2){
    margin-left: 20px;
}

.setting-tabs .taxsetting_form .tax-divider{
    border : 1px dashed #DADADA;
    margin: 30px 0;
}

.setting-tabs .taxsetting_form .note_details{
    background-color: #FAFAFA;
    color: #555555;
    padding: 12px 18px;
    border-radius: 10px;
    box-sizing: border-box;
}

/* NEW SETTINGS */
.setting-tabs {
    margin: 56px 30px !important;
}
.settings-banner {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #38373d;
}
.setting-tabs-banner h3{
    padding: 25px 0 !important;
}
.settings_tabs {
    border-radius: 10px;
    margin: 0;
}


/* GENERAL SETTINGS */
.general_settings-banner,
.general_info_form,
.currency_settings-banner,
.currency_form,
.tax_settings-banner,
.taxsetting_form {
    margin: 30px 25px 0 !important;
}
.general_settings,
.currency_settings,
.tax_settings {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #38373d;
}
.general_info_form-input,
.currency_form-input,
.taxsetting_form-input,
.gst-details {
    margin-top: 7px !important;
}
.general_info_form-input input,
.currency_form-input input,
.taxsetting_form-input input,
.note_details {
    padding: 13px 15px !important;
}
.general_info_form-restaurent-name input,
.currency_form-currency-name input,
.taxsetting_form-name input {
    border: 1px solid #555555 !important;
}
.general_info_form-address input,
.general_info_form-phone input,
.general_info_form-print input,
.currency_form-currency-code input,
.currency_form-currency-symbol input,
.taxsetting_form-type-charge input {
    border: none !important;
}
.currency_form-currency-name input {
    border: 1px solid #999999;
}
.general_info_form-input input::placeholder,
.currency_form-input input::placeholder,
.taxsetting_form-input input::placeholder {
    font-size: 15px !important;
    line-height: 18px;
    font-weight: 500 !important;
    color: #555555 !important;
}
.general_info_form-image-input,
.general_info_form-address,
.general_info_form-phone,
.general_info_form-print,
.currency_form-currency-code,
.currency_form-currency-symbol,
.taxsetting_form-type-charge,
.taxsetting_form-cgst,
.taxsetting_form-sgst {
    margin-top: 25px !important;
}
.general_info_form-image-input .image-logo {
    margin-top: 7px;
}
.general_info_form-image-input .image-field input {
    display: none;
}
.general_info_form-image-input .item-input-wrap {
    margin-top: 10px;
}
.general_info_form .form-submit {
    margin: 50px 0 25px !important;
}
.tax-setting-form hr {
    margin: 30px 0 !important;
}
.edit_tax_button {
    margin-right: 30px;
}
.tax-btns {
    position: relative;
}
.tax-btns:before {
    content: "";
    border-right: 1px solid #e0e0e0;
    position: absolute;
    height: 24px;
    width: 1px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -33%);
}
.taxsetting_form-gst {
    margin-top: 30px;
}
.taxsetting_form .popup_button {
    margin: 30px 0 !important;
}

/* USER MANAGEMENT SETTINGS */
.tab-link {
    --f7-touch-ripple-color: none;
}
.user_setting-tab .settings_page-tab_listing {
    max-width: 100%;
    width: 100%;
}
.user_setting-tab .settings_page-tab_listing .toolbar {
    width: 100% !important;
    background: #FFFFFF !important;
    border-right: none !important;
}
.user_setting-tab .settings_page-tab_listing .tabbar::before,
.user_setting-tab .settings_page-tab_listing .tabbar::after {
    display: none;
}
.user_setting-tab .settings_page-tab_listing .toolbar-inner {
    padding: 20px;
    width: 100%;
    position: relative;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between;
    background: #FFFFFF!important;
    border-bottom: 1px solid #E0E0E0;
}
.user_setting-tab .settings_page-tab_listing .tab-link {
    width: fit-content;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: space-between !important;
    font-size: 15px !important;
    line-height: 18px;
    font-weight: 500 !important;
    color: #555555;
    text-transform: capitalize;
}
.user_setting-tab .settings_page-tab_listing .tab-link svg{
    fill: #38373D;
    margin-right: 7px;
    max-width: 20px;
    max-height: 20px;
}
.user_setting-tab .settings_page-tab_listing .tab-link:first-child svg,
.user_setting-tab .settings_page-tab_listing .tab-link:nth-child(3) svg,
.user_setting-tab .settings_page-tab_listing .tab-link:nth-child(5) svg{
    stroke: #38373D;
}
.user_setting-tab .settings_page-tab_listing .toolbar-inner .tab-link-active {
    color: #F33E3E !important;    
}
.user_setting-tab .settings_page-tab_listing .toolbar-inner .tab-link-active svg{
    fill: #F33E3E !important;
}
.user_setting-tab .settings_page-tab_listing .tab-link-active:first-child svg,
.user_setting-tab .settings_page-tab_listing .tab-link-active:nth-child(3) svg,
.user_setting-tab .settings_page-tab_listing .tab-link-active:nth-child(5) svg{
    stroke: #F33E3E !important;
}


.user_setting-tab .tabs{
    width: 100%;
    max-height: 752px;
    overflow: scroll;
    scrollbar-width: none;
}
.data-table {
    margin: 0 !important;
}
.all_users thead,
.super_admin thead {
    border-bottom: 1px solid #E0E0E0;
}
.all_users thead th,
.super_admin thead th {
    text-align: left !important;
    font-size: 15px !important;
    line-height: 18px;
    font-weight: 600 !important;
    padding: 16px !important;
}
.all_users thead th:first-child,
.super_admin thead th:first-child {
    padding-left: 20px !important;
}
.all_users tbody tr td:first-child,
.super_admin tbody tr td:first-child {
    padding-left: 20px !important;
}
thead .label-cell {
    padding: 17px 0 17px 20px !important;
}
.settings_user-name {
    margin-left: 14px;
    text-wrap: nowrap;
}

.settings_user-name,
.settings_user-email {
    font-size: 15px !important;
    line-height: 18px;
    font-weight: 400 !important;
    color: #38373d;
}
.site-role {
    padding: 5px 16px !important;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-role label {
    font-size: 12px !important;
    line-height: 15px;
    font-weight: 500 !important;
    color: #555555 !important;
}
.user-btns {
    gap: 25px;
}
.edit_user_button p {
    font-size: 15px !important;
    line-height: 18px;
    font-weight: 500 !important;
    color: #999999 !important;
    padding-left: 6px;
}
.edit_user_button,
.delete_user_button {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.delete_user_button p {
    font-size: 15px !important;
    line-height: 18px;
    font-weight: 500 !important;
    color: #f33e3e !important;
    padding-left: 6px;
}

/* LANGUAGE SETTINGS */
#tab-user-management, #tab-language, #tab-floor-plan, #tab-qr-code-generator{
    min-height: calc(100vh - 180px);
}


/*========= SWITCH ON OFF CSS ===========*/
.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 31px;
    padding: 3px;
    background-color: white;
    border-radius: 7px;
    cursor: pointer;
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.switch-input:checked ~ .switch-label {
    background: #f33e3e;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 14px;
    text-transform: uppercase;
    background: #f5f5f5;
    border-radius: inherit;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}
.switch-label:before,.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #999999;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-input:checked ~.switch-label:before {
    opacity: 0;
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input:checked ~.switch-label:after {
    opacity: 1;
}
.switch-handle {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 22px;
    height: 22px;
    background: #999999;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
.switch-input:checked ~.switch-handle {
    left: 53px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.drop-down{
    display: inline-block;
    position: relative;
    width: 100%;
}

.drop-down__button{
    background:#FAFAFA;
    display: inline-block;
    text-align: left;
    border-radius: 10px;
    /* box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2); */
    width:100%
}

.drop-down__name input{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    width: 100%;
    border: 0 !important;
}

.drop-down__menu-box {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.11);
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    margin-top: 5px;
    z-index: 10;
    width: 100%;
    max-width: 378px;
    border-radius: 10px;
}

.drop-down__menu {
    margin: 0;
    padding: 0 13px;
    list-style: none;

}
.drop-down__menu-box:before{
    content: '';
    background-color: transparent;
    border-right: 15px solid transparent;
    position: absolute;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #fff;
    border-top: 15px solid transparent;
    top: -30px;
    right: 50%;

}
.drop-down__item {
    font-size: 13px;
    padding: 13px 0;
    text-align: left;
    font-weight: 500;
    color: #909dc2;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
}

.drop-down--active .drop-down__menu-box, .drop-down--active-1 .drop-down__menu-box{
    visibility: visible;
    opacity: 1;
    margin-top: 15px;
}

.active {
    background-color: #F33E3E;
    color: #fff !important;
}
.edit_translate_table .translate__id .item-input-wrap input{
    background: #F0F0F0;
}
.edit_translate_table .translate__label .item-input-wrap input{
    background: #FFFFFF;
}
.edit_translate_table .item-input-wrap input{
	width: 100%;
	border: 0.5px solid #DCDCDC;
	border-radius: 5px;
    height: 36px;
}
.search_data_wrap{
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 0 8px !important;
}

/*========= QR Code Generate CSS ===========*/

.font-13{
    font-size: 13px;
}
.height-40 {
    height: 40px;
}
.height-45{
    height: 45px;
}
.qrcode_generate.card{
    box-shadow: none !important;
}
.menu-dropdown-link{
    padding-left:25px
}
.height_100{
    height: 100%;
}
.qrcode_generate .data-table{
    overflow-x: auto;
    overflow-y: hidden;
}
.qrcode_generate_popup .button{
    box-shadow: none;
    background: #F33E3E;
    color:  #ffffff;
    font-weight: 500;
    border-radius: 7px;
}

.qrcode_generate .menu-dropdown-content a{
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #999999;
}
.qrcode_generate .menu-dropdown-link{
	justify-content: flex-start !important;
    margin-top: 5px;
}
.qrcode_generate .menu-dropdown{
	background-color: transparent !important;
}
.qrcode_generate .menu-dropdown-right::before{
    background-image: none !important;
}
.qrcode_generate .menu-dropdown-link:first-child{
    border-bottom: 0.5px solid #999999;
    border-radius: 0;
}
.qrcode_generate .menu-dropdown-content{
	background: #FFFFFF;
	box-shadow: 0px 0px 14px rgba(34, 34, 34, 0.1);
	z-index: 99;
    top: -7px !important;
}
.qrcode_generate .menu-item-dropdown-right .menu-dropdown-content, .qrcode_generate .menu-dropdown-right .menu-dropdown-content {
	right: 72px;
	border-top-right-radius: 5px;
	width: 180px;
}
.qrcode_popup .qrcode-form .button.active-state{
    background-color: rgb(243, 62, 62) !important;
    color: rgb(255, 255, 255) !important;
}
.status_info{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 26px;
    line-height: 1px;
    font-weight: 400;
    font-size: 12px;
    width: 60%;
    padding: 0px 25px;
    align-items: center;
}
.status_info.status_expired{
    background: #FFE7DD;
	color: #E31A1A;
}
.status_info.status_upcoming{
    background: #E9FBE7;
    color: #3D833C;
}
.status_info.status_ongoing{
    background: #FFF9E3;
    color: #D39255;
}
.item-input-wrap{
	width: 100%;
	background: #ffffff;
	border-radius: 7px;
	height: auto;
}
ul .item-input-wrap input{
	background-color: #fff;
	border-radius: 8px;
	padding: 12px;
    height: 40px;
	border: 0.5px solid #999999;
}
.active_text{
    color: rgba(243, 62, 62, 1) !important;
}
.qrcode_popup .simple-list li:after, .qrcode_popup .links-list a:after, .qrcode_popup .list .item-inner:after{
    background-color: transparent !important;
}
.menu-dropdown-link::before{
    content: none !important;
}
.active-state{
    background-color: none !important;
    opacity: 1 !important;
}

#qrcode_generate_popup .popup{
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

@media screen and (max-width:991px) {
    .qrcode_generate .menu-item-dropdown-right .menu-dropdown-content, .qrcode_generate .menu-dropdown-right .menu-dropdown-content{
        right: 31px;
    }
    #qrcode_popup{
        transform: translate(-18%);
    }
}
.pagination_count .pagination_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination_count .pagination_list a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
.picker-items{
    padding:43px 0 !important;
}
.picker-center-highlight{
    background-color:transparent !important;
}
.block-strong .picker-columns{
    --f7-picker-mask-bg-color: #F3F4F5;
}
.picker-columns{
    width: 90%;
    height: 80% !important;
    background-image:  linear-gradient(180deg, #F3F4F5 0%, #FFFFFF 34.65%, #FFFFFF 63.19%, rgba(243, 244, 245, 0.857255) 100%) !important;
    border-radius: 10px;
    margin:0 auto;
    top: 15px;
    justify-content: space-between !important;
    -webkit-mask-box-image: none !important;
}
.picker.picker-inline{
    height: 150px;
}